@charset "utf-8";
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.articleStyle_01{
  a{
    display: block;
    >.inner{
      border-radius: 10px;
      overflow: hidden;
      position: relative;
    }
    .eyeCatch{
      img{
        @include imgset;
      }
    }
    .content{
      position: absolute;
      top: 0;
      left: 0;
      @include setTbl;
      height: 486/$design-num-sp*100vw;
      >.inner{
        text-align: center;
      }
    }
    h2{
      color: $white;
      @include fontEn;
      letter-spacing: .03em;
      line-height: 1em;
      @include fz_vw(36);
      transition: .3s;
      position: relative;
      left: 0;
    }
  }
}
@media screen and (min-width: $break-point-middle) {
.articleStyle_01{
  a{
    .eyeCatch{
      &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        bottom: 0;
        //background-color: rgba(0, 0, 0, .03);
        transition: .3s;
      }
    }
    .content{
      height: 400/$design-num*100vw;
    }
    h2{
      font-size: 1.8rem;
    }
  }
  a:hover{
    .eyeCatch{
      &::after{
        opacity: 0;
      }
    }
    h2{
      left: 5px;
    }
  }
}
}
@media screen and (min-width: $design-width) {
// .articleStyle_01{
//   a{
//     h2{
//       @include fz_vwpc(18);
//     }
//   }
// }
}
///////////////////////////////////////
.articleStyle_02{
  .numbering{
    @include fontEn;
    line-height: 1em;
    @include fz_vw(20);
    margin-bottom: 15/$design-num-sp*100vw;
    letter-spacing: .04em;
  }
  h3{
    @include fz_vw(34);
    line-height: (60/34)+em;
    margin-bottom: 30/$design-num-sp*100vw;
    letter-spacing: .1em;
    font-weight: normal;
  }
  .summary{
    line-height: (56/26)+em;
    @include fz_vw(26);
    letter-spacing: .04em;
    text-align: justify;
    span{
      @include fz_vw(20);
    }
  }
}
@media screen and (min-width: $break-point-middle) {
.articleStyle_02{
  .numbering{
    font-size: $summary-font-size;
    margin-bottom: 12px;
  }
  h3{
    font-size: 2.0rem;
    margin-bottom: 12px;
  }
  .summary{
    line-height: (22/12)+em;
    font-size: $summary-font-size;
    span{
      font-size: $summary-font-size;
    }
  }
}
}
////////////////////////////////////////////
.articleStyle_03{
  @extend .articleStyle_01;
  a{
    .content{
      height: 736/$design-num-sp*100vw;
    }
  }
}
@media screen and (min-width: $break-point-middle) {
.articleStyle_03{
  a{
    .content{
      height: 734/$design-num*100vw;
    }
  }
}
}
////////////////////////////////////////////
.articleStyle_04{
  h2{
    line-height: (61/36)+em;
    @include fz_vw(36);
    //letter-spacing: .1em;
    margin-bottom: 16/$design-num-sp*100vw;
    text-align: justify;
    font-weight: 500;
  }
  .subInfo{
    @include killSpace;
    line-height: 1em;
    @include fontEn;
    letter-spacing: .04em;
    color: #898989;
    @include fz_vw(20);
    >*{
      &::after{
        content: '|';
        padding: 0 12/$design-num-sp*100vw;
      }
      &:last-child::after{
        display: none;
      }
    }
  }
  .category{
    @include killSpace;
  }
  .col-ttl{
    margin-bottom: 60/$design-num-sp*100vw;
  }
}
@media screen and (min-width: $break-point-middle) {
.articleStyle_04{
  >.inner{
    @include setTbl;
    >*{
      vertical-align: top;
    }
  }
  h2{
    line-height: (29/20)+em;
    font-size: 2.0rem;
    margin-bottom: 8px;
  }
  .subInfo{
    font-size: 1.0rem;
    >*{
      &::after{
        padding: 0 6px;
      }
    }
  }
  .col-ttl{
    margin-bottom: 0;
    padding-right: 55/764*100%;
  }
  .col-content{
    width: 452/764*100%;
  }
}
}
////////////////////////////////////////////
.articleStyle_05{
  a{
    display: block;
    >.inner{
      position: relative;
    }
    .eyeCatch{
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 40/$design-num-sp*100vw;
      img{
        @include imgset;
      }
    }
    .content{
      padding: (70 - 28)/$design-num-sp*100vw;
    }
    h2{
      @include fontEn;
      letter-spacing: .1em;
      line-height: 1em;
      @include fz_vw(30);
      margin-bottom: 20/$design-num-sp*100vw;
    }
    h3{
      @include fz_vw(40);
      line-height: (60/40)+em;
      font-weight: normal;
      letter-spacing: .03em;
      &.style_01{
        letter-spacing: .05em;
      }
      >span{
        position: relative;
        @include fz_vw(30);
        top: -5px;
      }
    }
    .caution{
      margin-top: 12/$design-num-sp*100vw;
      line-height: 1em;
      @include fz_vw(20);
    }
    .btn{
      margin-top: 65/$design-num-sp*100vw;
      >*{
        width: 290/$design-num-sp*100vw;
        margin: 0 auto;
      }
    }
  }
}
@media screen and (min-width: $break-point-middle) {
.articleStyle_05{
  $gap:60/$design-num*100vw;
  a{
    .eyeCatch{
      margin-bottom: 0;
    }
    .content{
      color: $white;
      position: absolute;
      top: 0;
      left: 0;
      @include setTbl;
      height: 734/$design-num*100vw;
      padding: 0;
      >.inner{
        vertical-align: top;
        text-align: left;
        position: absolute;
        bottom: $gap;
        left: $gap;
        width: -webkit-calc(100% - #{$gap});
        width: calc(100% - #{$gap});
      }
      h2{
        font-size: 1.4rem;
        margin-bottom: 8px;
        font-weight: 500;
        letter-spacing: .15em;
      }
      h3{
        font-size: 2.0rem;
        font-weight: 500;
        letter-spacing: .15em;
        line-height: (28/20)+em;
        >span{
          font-size: 1.5rem;
        }
      }
      .caution{
        font-size: 1.0rem;
        margin-top: 4px;
        font-weight: 600;
      }
      .btn{
        margin-top: 0;
        position: absolute;
        bottom:0;
        right: $gap;
        width: 100%;
        >*{
          width: 140px;
          margin: 0 0 0 auto;
        }
      }
      >.inner.style_01{
        bottom: 52/$design-num*100vw;
        .btn{
          bottom: 5/$design-num*100vw;
        }
      }
      >.inner.style_02{
        .btn{
          bottom: -5/$design-num*100vw;
        }
      }
    }
  }
}
}
////////////////////////////////////////////
.articleStyle_06{
  display: block;
  a{
    >.inner{
      border-radius: 10px;
      overflow: hidden;
      position: relative;
    }
    .eyeCatch{
      img{
        @include imgset;
      }
    }
    .content{
      position: absolute;
      top: 0;
      left: 0;
      @include setTbl;
      height: 486/$design-num-sp*100vw;
      >.inner{
        text-align: center;
      }
    }
    h2{
      color: $white;
      @include fontEn;
      letter-spacing: .05em;
      line-height: 1em;
      @include fz_vw(34);
      transition: .3s;
      position: relative;
      left: 0;
    }
  }
}
@media screen and (min-width: $break-point-middle) {
.articleStyle_06{
  a{
    .content{
      height: 608/$design-num*100vw;
    }
    h2{
      font-size: 1.8rem;
    }
  }
}
}
////////////////////////////////////////////
.articleStyle_07{
  @extend .articleStyle_06;
  h3,.btn{
    display: none;
  }
}
@media screen and (min-width: $break-point-middle) {
.articleStyle_07{
  h3,.btn{
    display: block;
  }
  a{
    h3{
      color: $white;
      line-height: (28/20)+em;
      font-size: 2.0rem;
      letter-spacing: .15em;
      font-weight: 500;
      //font-weight: 600;
      margin: 24px 0 40px;
      &.style_01{
        span{
          position: relative;
          left: 10px;
        }
      }
    }
    .btn{
      >*{
        width: 120px;
        margin: 0 auto;
      }
    }
  }
}
}
////////////////////////////////////////////
.articleStyle_08{
  @extend .articleStyle_05;
}
@media screen and (min-width: $break-point-middle) {
.articleStyle_08{
  a{
    .content{
      width: 750/$design-num*100vw;
      left: auto;
      right: 0;
      >.inner{
        vertical-align: middle;
      }
      .btn{
        position: relative;
        bottom: auto;
        margin-top: 40px;
      }
    }
  }
}
}
////////////////////////////////////////////
.articleStyle_09{
  >a,>.wrap{
    display: block;
    >.inner{
      display: flex;
      flex-direction: column-reverse;
    }
    .eyeCatch{
      padding-bottom: 60/$design-num-sp*100vw;
      img{
        @include imgset;
      }
    }
    .secTtl{
      margin-bottom: 32/$design-num-sp*100vw;
    }
    h2{
      @include fontEn;
      @include fz_vw(30);
      letter-spacing: .15em;
      line-height: 1em;
      margin-bottom: 30/$design-num-sp*100vw;
    }
    h3{
      @include fz_vw(34);
      font-weight: normal;
      letter-spacing: .15em;
      line-height: (50/34)+em;
      >span{
        @include fz_vw(24);
        position: relative;
        top: -4px;
      }
    }
    .summary{
      line-height: (50/26)+em;
      @include fz_vw(26);
      text-align: justify;
      letter-spacing: .03em;
    }
    .btn{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 60/$design-num-sp*100vw;
      margin-left: 40/$design-num-sp*100vw;
      margin-right: 40/$design-num-sp*100vw;
      >*{
        min-width: 300/$design-num-sp*100vw;
        &:nth-child(n+2){
          margin-top: 32/$design-num-sp*100vw;
        }
      }
    }
  }
}
@media screen and (min-width: $break-point-middle) {
.articleStyle_09{
  >a,>.wrap{
    >.inner{
      @include setTbl;
    }
    .col-content{
      padding-right: 90/608*100%;
    }
    .col-img{
      width: 224/608*100%;
    }
    .eyeCatch{
      padding-bottom: 0;
      img{
        @include imgset;
      }
    }
    .secTtl{
      margin-bottom: 20px;
    }
    h2{
      font-size: 1.4rem;
      margin-bottom: 5px;
    }
    h3{
      font-size: 2.0rem;
      line-height: (28/20)+em;
      &.style_01{
        letter-spacing: 0.05em;
      }
      >span{
        font-size: 1.4rem;
      }
    }
    .summary{
      line-height: (28/14)+em;
      font-size: 1.4rem;
    }
    .btn{
      justify-content: space-between;
      margin-top: 30px;
      margin-left: 0;
      margin-right: 0;
      >*{
        min-width: 140px;
        &:nth-child(n+2){
          margin-top: 0;
        }
        &:nth-child(n+3){
          margin-top: 12px;
        }
      }
    }
  }
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.postWrap{
  >*{
    margin-bottom: 70/$design-num-sp*100vw;
    &:last-child{
      margin-bottom: 0;
    }
  }
  p{
    line-height: (50/26)+em;
    @include fz_vw(26);
    text-align: justify;
  }
  img{
    @include imgset;
    border-radius: 10px;
  }
  a{
    text-decoration: underline;
  }
}
@media screen and (min-width: $break-point-middle) {
.postWrap{
  >*{
    margin-bottom: 40px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  p{
    line-height: (22/12)+em;
    font-size: $summary-font-size;
  }
  a{
    &:hover{
      text-decoration: none;
      opacity: .9;
    }
  }
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
@media screen and (min-width: $break-point-middle) {
}
