@charset "utf-8";
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.carouselStyle_01,.carouselStyle_02,.carouselStyle_03{
  position: relative;
  .swiper-slide{
    width: 250/$design-num-sp*100vw;
  }
}
//////////////////////////////////////
.carouselStyle_04{
  position: relative;
  .swiper-slide{
    width:375/$design-num-sp*100vw;
    transition: .6s;
  }
}
@media screen and (min-width: $break-point-middle) {
.carouselStyle_04{
  .swiper-slide{
    width: 640/$design-num*100vw;
    .toggleOpen &{
      //width: 250px;
    }
  }
}
.scaleCtr{
  position: relative;
  height: 640px;
  transition: .6s;
  .toggleOpen &{
    height: 250px;
  }
  .carouselStyle_04{
    position: relative;
    transform: scale(1);
    transition: .6s;
    transform-origin: 0% 0%;
    $scale:250/640;
    .toggleOpen &{
      transform: scale($scale);
    }
  }
  .infiniteslide_wrap{
    overflow: visible!important;
  }
}
}
@media screen and (min-width: $design-width) {
.carouselStyle_04{
  .swiper-slide{
    width: 640px;
  }
}
}
//////////////////////////////////////
.carouselStyle_05{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 250/$design-num-sp*100vw;
  .swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets{
    right: auto;
    left: 10/$design-num-sp*100vw;
  }
  .swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 10/$design-num-sp*100vw 0;
  }
  .swiper-pagination-bullet-active{
    background-color: #9fa0a0;
  }
}
@media screen and (min-width: $break-point-middle) {
.carouselStyle_05{
  height: 500px;
  .swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets{
    left: 16px;
  }
  .swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 10px 0;
  }
}
}
//////////////////////////////////////
.carouselStyle_06{
  position: relative;
  .swiper-slide{
    width: 250px;
    &.style_02{
      width: 500px;
    }
  }
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
@media screen and (min-width: $break-point-middle) {
}
