@charset "utf-8";
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.setMrg_01{
  margin-bottom: 80/$design-num-sp*100vw;
}
@media screen and (min-width: $break-point-middle) {
.setMrg_01{
  margin-bottom: 36px;
}
}
///////////////////////////////////////
.setMrg_02{
  margin-bottom: 40/$design-num-sp*100vw;
}
@media screen and (min-width: $break-point-middle) {
.setMrg_02{
  margin-bottom: 26px;
}
}
///////////////////////////////////////
.setMrg_03{
  margin-bottom: 40/$design-num-sp*100vw;
}
@media screen and (min-width: $break-point-middle) {
.setMrg_03{
  margin-bottom: 10px;
}
}
///////////////////////////////////////
.setMrg_04{
  margin-top: 80/$design-num-sp*100vw;
}
@media screen and (min-width: $break-point-middle) {
.setMrg_04{
  margin-top: 60px;
}
}
///////////////////////////////////////
.setMrg_05{
  margin-bottom: 180/$design-num-sp*100vw;
}
@media screen and (min-width: $break-point-middle) {
.setMrg_05{
  margin-bottom: 55px;
}
}
///////////////////////////////////////
.setMrg_06{
  margin-bottom: 180/$design-num-sp*100vw;
}
@media screen and (min-width: $break-point-middle) {
.setMrg_06{
  margin-bottom: 160px;
}
}
///////////////////////////////////////
.setMrg_07{
  margin-bottom: 88/$design-num-sp*100vw;
}
@media screen and (min-width: $break-point-middle) {
.setMrg_07{
  margin-bottom: 95px;
}
}
///////////////////////////////////////
.setMrg_08{
  margin-bottom: 100/$design-num-sp*100vw;
}
@media screen and (min-width: $break-point-middle) {
.setMrg_08{
  margin-bottom: 50px;
}
}
///////////////////////////////////////
.setMrg_09{
  margin-bottom: 40/$design-num-sp*100vw;
}
@media screen and (min-width: $break-point-middle) {
.setMrg_09{
  margin-bottom: 20px;
}
}
///////////////////////////////////////
.setMrg_10{
  margin-bottom: 76/$design-num-sp*100vw;
}
@media screen and (min-width: $break-point-middle) {
.setMrg_10{
  margin-bottom: 50px;
}
}
///////////////////////////////////////
@media screen and (min-width: $break-point-middle) {
.setMrg_11{
  margin-bottom: 196px;
}
}
///////////////////////////////////////
.setMrg_12{
  margin-bottom: 266/$design-num-sp*100vw;
}
@media screen and (min-width: $break-point-middle) {
.setMrg_12{
  margin-bottom: 195px;
}
}
///////////////////////////////////////
.setMrg_13{
  margin-bottom: 85/$design-num-sp*100vw;
}
@media screen and (min-width: $break-point-middle) {
.setMrg_13{
  margin-bottom: 120px;
}
}
///////////////////////////////////////
.setMrg_14{
  margin-bottom: 255/$design-num-sp*100vw;
}
@media screen and (min-width: $break-point-middle) {
.setMrg_14{
  margin-bottom: 255px;
}
}
///////////////////////////////////////
.setMrg_15{
  margin-bottom: 178/$design-num-sp*100vw;
}
@media screen and (min-width: $break-point-middle) {
.setMrg_15{
  margin-bottom: 150px;
}
}
///////////////////////////////////////
.setMrg_16{
  margin-top: 270/$design-num-sp*100vw;
}
@media screen and (min-width: $break-point-middle) {
.setMrg_16{
  margin-top: 155px;
}
}
///////////////////////////////////////
.setMrg_17{
  margin-bottom: 70/$design-num-sp*100vw;
}
@media screen and (min-width: $break-point-middle) {
.setMrg_17{
  margin-bottom: 30px;
}
}
///////////////////////////////////////
.setMrg_18{
  margin-bottom: 80/$design-num-sp*100vw;
  margin-left: -118/$design-num-sp*100vw;
}
@media screen and (min-width: $break-point-middle) {
.setMrg_18{
  margin-left: 0;
  margin-bottom: 110px;
}
}
///////////////////////////////////////
.setMrg_19{
  margin-bottom: 235/$design-num-sp*100vw;
}
@media screen and (min-width: $break-point-middle) {
.setMrg_19{
  margin-bottom: 235px;
}
}
///////////////////////////////////////
.setMrg_20{
  margin-bottom: 180/$design-num-sp*100vw;
}
@media screen and (min-width: $break-point-middle) {
.setMrg_20{
  margin-bottom: 0px;
}
}
///////////////////////////////////////
.setMrg_21{
  margin-bottom: 270/$design-num-sp*100vw;
}
@media screen and (min-width: $break-point-middle) {
.setMrg_21{
  margin-bottom: 0px;
}
}
///////////////////////////////////////
.setMrg_22{
  margin-bottom: 178/$design-num-sp*100vw;
}
@media screen and (min-width: $break-point-middle) {
.setMrg_22{
  margin-bottom: 145px;
}
}
///////////////////////////////////////
.setMrg_23{
  margin-bottom: 140/$design-num-sp*100vw;
}
@media screen and (min-width: $break-point-middle) {
.setMrg_23{
  margin-bottom: 70px;
}
}
///////////////////////////////////////
.setMrg_24{
  margin-bottom: 190/$design-num-sp*100vw;
}
@media screen and (min-width: $break-point-middle) {
.setMrg_24{
  margin-bottom: 232px;
}
}
///////////////////////////////////////
.setMrg_25{
  margin-bottom: 190/$design-num-sp*100vw;
}
@media screen and (min-width: $break-point-middle) {
.setMrg_25{
  margin-bottom: 36px;
}
}
///////////////////////////////////////
.setMrg_26{
  padding-top: 65px;
}
@media screen and (min-width: $break-point-middle) {
.setMrg_26{
  padding-top: 70px;
}
}
///////////////////////////////////////
.setMrg_27{
  padding-top: 150/$design-num-sp*100vw;
}
@media screen and (min-width: $break-point-middle) {
.setMrg_27{
  padding-top: 130px;
}
}
///////////////////////////////////////
.setMrg_28{
  margin-bottom: 46/$design-num-sp*100vw;
}
@media screen and (min-width: $break-point-middle) {
.setMrg_28{
  margin-bottom: 32px;
}
}
///////////////////////////////////////
.setMrg_29{
  margin-bottom: 1em;
}
///////////////////////////////////////
.setMrg_30{
  margin-bottom: 60/$design-num-sp*100vw;
}
@media screen and (min-width: $break-point-middle) {
.setMrg_30{
  margin-bottom: 50px;
}
}
///////////////////////////////////////
.setMrg_31{
  margin-bottom: 110/$design-num-sp*100vw;
}
@media screen and (min-width: $break-point-middle) {
.setMrg_31{
  margin-bottom: 30px;
}
}
///////////////////////////////////////
.setMrg_32{
  margin-bottom: 40/$design-num-sp*100vw;
}
@media screen and (min-width: $break-point-middle) {
.setMrg_32{
  margin-bottom: 16px;
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
@media screen and (min-width: $break-point-middle) {
}
