@charset "utf-8";
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.heroStyle_01{
  @include baseSpPad;
  opacity: 0;
  transition: .3s;
  h1{
    display: block;
    width: 100%;
    height: 100%;
  }
  >.inner{
    height: -webkit-calc(100vh - #{$header-size-sp});
    height: calc(100vh - #{$header-size-sp});
    overflow: hidden;
    border-radius: 10px;
  }
  .imgStyle{
    height: 100%;
    &.style_01 img{
      object-position: 0 50%;
    }
  }
  img{
    -webkit-backface-visibility: hidden;
    width: 100%;
    height: 100%!important;
    object-fit: cover;
  }
  .loaded &{
    opacity: 1;
  }
}
@media screen and (min-width: $break-point-middle) {
.heroStyle_01{
  padding: 0 20px;
  >.inner{
    height: 100vh;
  }
}
}
//////////////////////////////////
.heroStyle_02{
  position: relative;
  >.inner{
  }
  .bgImg{
    height: 1500/$design-num-sp*100vw;
    >.inner{
      height: 100%;
    }
  }
  img{
    -webkit-backface-visibility: hidden;
    width: 100%;
    height: 100%!important;
    object-fit: cover;
    border-radius: 10px;
  }
  .content{
    position: relative;
    padding-top: 112/$design-num-sp*100vw;
    padding-right: 12/$design-num-sp*100vw;
    .col{
      max-width: 557/$design-num-sp*100vw;
      margin: 0 0 0 auto;
    }
  }
  a{
    h2{
      color: $key-black;
      line-height: 1em;
      @include fz_vw(36);
      @include fontEn;
      margin-bottom: 80/$design-num-sp*100vw;
      letter-spacing: .08em;
    }
    .summary{
      line-height: (56/26)+em;
      @include fz_vw(26);
      font-weight: normal;
      letter-spacing: .04em;
      color: $key-black;
      text-align: justify;
      span{
        @include fz_vw(20);
      }
    }
    .btn{
      margin-top: 80/$design-num-sp*100vw;
      @include fontEn;
      letter-spacing: .1em;
      @include fz_vw(20);
      line-height: 1em;
      color: $key-black;
      padding: 0;
      >span{
        display: inline-block;
        left: 0;
        position: relative;
        transition: .3s;
        &::after{
          content: '';
          width: 12/$design-num-sp*100vw;
          height: 12/$design-num-sp*100vw;
          border-radius: 12/$design-num-sp*100vw;
          line-height: 1em;
          display: inline-block;
          background-color: $key-color3;
          margin-left: 4px;
          position: relative;
          bottom: 0;
        }
      }
    }
  }
}
@media screen and (min-width: $break-point-middle) {
.heroStyle_02{
  >.inner{
    height: 734/1232*100vw;
  }
  .bgImg{
    height: 100%;
  }
  .content{
    position: absolute;
    padding-top: 0;
    padding-right: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    .wrap{
      @include setTbl;
      height: 100%;
    }
    .col{
      max-width: 620px;
      margin: 0 0 0 300/1192*100%;
    }
  }
  a{
    h2{
      color: $white;
      font-size: 2.4rem;
      margin-bottom: 28px;
    }
    .summary{
      line-height: (30/12)+em;
      font-size: $summary-font-size;
      font-weight: 500;
      color: $white;
      span{
        font-size: 1.0rem;
      }
    }
    .btn{
      margin-top: 44px;
      font-weight: 400;
      font-size: $summary-font-size;
      color: $white;
      >span{
        &::after{
          width: 8px;
          height: 8px;
          border-radius: 8px;
          background-color: $white;
          transition: .6s;
        }
      }
      >span:hover{
        left: 5px;
        &::after{
          filter: blur(3px);
        }
      }
    }
  }
}
}
@media screen and (min-width: $design-width) {
// .heroStyle_02{
//   a{
//     h2{
//       @include fz_vwpc(24);
//       margin-bottom: 28/$design-num*100vw;
//     }
//     .summary{
//       @include fz_vwpc(12);
//       span{
//         @include fz_vwpc(10);
//       }
//     }
//     .btn{
//       margin-top: 44/$design-num*100vw;
//       @include fz_vwpc(12);
//       >span{
//         &::after{
//           content: '';
//           width: 8/$design-num*100vw;
//           height: 8/$design-num*100vw;
//           border-radius: 8/$design-num*100vw;
//           margin-left: 4/$design-num*100vw;
//         }
//       }
//     }
//   }
// }
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.ttlStyle_01{
  @include fontEn;
  letter-spacing: .05em;
  @include fz_vw(30);
  line-height: 1em;
}
@media screen and (min-width: $break-point-middle) {
.ttlStyle_01{
  font-size: 1.8rem;
}
}
@media screen and (min-width: $design-width) {
// .ttlStyle_01{
//   @include fz_vwpc(18);
// }
}
//////////////////////////////////
.ttlStyle_02{
  @include fz_vw(34);
  line-height: 1em;
  font-weight: normal;
  letter-spacing: .1em;
  >span{
    @include fz_vw(26);
    position: relative;
    top: -4px;
  }
  img{
    width: 287/$design-num-sp*100vw;
    display: inline-block;
  }
}
@media screen and (min-width: $break-point-middle) {
.ttlStyle_02{
  font-size: 2.2rem;
  >span{
    font-size: 1.6rem;
  }
  img{
    width: 184px;
  }
}
}
@media screen and (min-width: $design-width) {
// .ttlStyle_02{
//   @include fz_vwpc(22);
//   >span{
//     @include fz_vwpc(16);
//   }
//   img{
//     width: 184/$design-num*100vw;
//   }
// }
}
//////////////////////////////////
.ttlStyle_03{
  img{
    width: 388/$design-num-sp*100vw;
    display: inline-block;
  }
}
@media screen and (min-width: $break-point-middle) {
.ttlStyle_03{
  img{
    width: 248px;
  }
}
}
@media screen and (min-width: $design-width) {
// .ttlStyle_03{
//   img{
//     width: 248/$design-num*100vw;
//   }
// }
}
//////////////////////////////////
.ttlStyle_04{
  img{
    width: 502/$design-num-sp*100vw;
    display: inline-block;
  }
}
@media screen and (min-width: $break-point-middle) {
.ttlStyle_04{
  img{
    width: 325px;
  }
}
}
@media screen and (min-width: $design-width) {
// .ttlStyle_04{
//   img{
//     width: 325/$design-num*100vw;
//   }
// }
}
//////////////////////////////////
.ttlStyle_05{
  @include fontEn;
  @include fz_vw(36);
  line-height: 1em;
  letter-spacing: .06em;
}
@media screen and (min-width: $break-point-middle) {
.ttlStyle_05{
  font-size: 2.4rem;
}
}
//////////////////////////////////
.ttlStyle_06{
  line-height: (60/34)+em;
  @include fz_vw(34);
  font-weight: normal;
  letter-spacing: .06em;
}
@media screen and (min-width: $break-point-middle) {
.ttlStyle_06{
  line-height: 1em;
  font-size: 1.6rem;
}
}
//////////////////////////////////
.ttlStyle_07{
  line-height: 1em;
  @include fz_vw(34);
  font-weight: 400;
  letter-spacing: .1em;
  margin-bottom: 50/$design-num-sp*100vw;
  img{
    width: 172/$design-num-sp*100vw;
  }
}
@media screen and (min-width: $break-point-middle) {
.ttlStyle_07{
  font-size: 2.2rem;
  margin-bottom: 40px;
  img{
    width: 111px;
  }
}
}
//////////////////////////////////
.ttlStyle_08{
  @include fz_vw(26);
  line-height: 1em;
  margin-bottom: 70/$design-num-sp*100vw;
  letter-spacing: .1em;
  font-weight: 500;
}
@media screen and (min-width: $break-point-middle) {
.ttlStyle_08{
  font-size: 1.6rem;
  margin-bottom: 50px;
}
}
//////////////////////////////////
.counterTtl{
  counter-reset: number 0;
}
.ttlStyle_09{
  @include fz_vw(20);
  font-weight: normal;
  &::before{
    counter-increment: number 1;
    content:  counter(number) ").";
    padding-right: .5em;
  }
}
@media screen and (min-width: $break-point-middle) {
.ttlStyle_09{
  font-size: $summary-font-size;
}
}
//////////////////////////////////
.ttlStyle_10{
  font-weight: normal;
  margin-bottom: 0!important;
}
//////////////////////////////////
.ttlStyle_11{
  @extend .ttlStyle_09;
  &::before{
    display: none;
  }
}
//////////////////////////////////
.ttlStyle_12{
  @extend .ttlStyle_09;
  &::before{
    content: '●';
    padding-right: .2em;
  }
}
//////////////////////////////////
.ttlStyle_13{
  @include fz_vw(34);
  line-height: 1em;
  font-weight: normal;
  letter-spacing: .1em;
  >span{
    @include fz_vw(26);
    position: relative;
    top: -4px;
  }
}
@media screen and (min-width: $break-point-middle) {
.ttlStyle_13{
  font-size: 2.2rem;
  >span{
    top: -8px;
    font-size: 1.0rem;
  }
}
}
@media screen and (min-width: $design-width) {
// .ttlStyle_13{
//   @include fz_vwpc(22);
//   >span{
//     top: -8/$design-num*100vw;
//     @include fz_vwpc(10);
//   }
// }
}
//////////////////////////////////
.ttlStyle_14{
  line-height: 1em;
  @include fz_vw(34);
  margin-bottom: 55/$design-num-sp*100vw;
  @include fontEn;
  letter-spacing: .1em;
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.btnStyle_01{
  @include fz_vw(20);
  line-height: 1em;
  @include fontEn;
  letter-spacing: .03em;
  display: inline-block;
  @include over_06;
  &::after{
    content: '';
    width: 12/$design-num-sp*100vw;
    height: 12/$design-num-sp*100vw;
    border-radius: 12/$design-num-sp*100vw;
    background-color: $key-color1;
    margin-left: 12/$design-num-sp*100vw;
    display: inline-block;
  }
}
@media screen and (min-width: $break-point-middle) {
.btnStyle_01{
  font-size: $summary-font-size;
  &::after{
    width: 8px;
    height: 8px;
    border-radius: 8px;
    margin-left: 6px;
    transition: .6s;
  }
  &:hover{
    &::after{
      filter: blur(3px);
    }
  }
}
}
@media screen and (min-width: $design-width) {
// .btnStyle_01{
//   @include fz_vwpc(12);
//   &::after{
//     width: 8/$design-num*100vw;
//     height: 8/$design-num*100vw;
//     border-radius: 8/$design-num*100vw;
//     margin-left: 6/$design-num*100vw;
//   }
//   &.style_01{
//     font-size: $summary-font-size;
//     &::after{
//       width: 8px;
//       height: 8px;
//       border-radius: 8px;
//       margin-left: 6px;
//     }
//   }
// }
}
////////////////////////////////////////////////////////////
.btnStyle_02{
  @extend .btnStyle_01;
  &::after{
    background-color: $key-color2;
  }
}
////////////////////////////////////////////////////////////
.btnStyle_03{
  @extend .btnStyle_01;
  &::after{
    background-color: $key-color3;
  }
}
////////////////////////////////////////////////////////////
.btnStyle_04{
  @extend .btnStyle_01;
  &::after{
    background-color: $key-color4;
    .product_01 &{
      background-color: $key-color1;
    }
    .product_02 &{
      background-color: $key-color2;
    }
    .product_03 &{
      background-color: $key-color5;
    }
  }
}
////////////////////////////////////////////////////////////
.btnStyle_05{
  @include btnsetting;
  display: block;
  width: 100%;
  color: $white;
  @include fontEn;
  @include fz_vw(26);
  line-height: 1em;
  padding: 30/$design-num-sp*100vw;
  text-align: left;
  transition: .3s;
  position: relative;
  background-color: transparent;
  &::before{
    content: '';
    position: absolute;
    transition: .3s;
    background-color: $key-color1;
    border-radius: 5px;
    top: 0;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
  }
  .product_02 &{
    &::before{
      background-color: $key-color2;
    }
  }
  .product_03 &{
    &::before{
      background-color: $key-color5;
    }
  }
  >span{
    transition: .3s;
    position: relative;
    left: 0;
  }
  .out{
    display: none;
  }
  &.dis{
    cursor: default;
    pointer-events: none;
    &::before{
      background-color: #ccc;
    }
    .normal{
      display: none;
    }
    .out{
      display: inline;
    }
  }
}
@media screen and (min-width: $break-point-middle) {
.btnStyle_05{
  font-size: 1.6rem;
  padding: 14px;
  &:hover{
    //opacity: .8;
    &::before{
      filter: blur(3px);
      width: 98%;
      left: 1%;
    }
    >span{
      left: 5px;
    }
  }
  &:active{
    opacity: 1;
    >span{
      left: 0;
    }
  }
}
}
////////////////////////////////////////////////////////////
.btnStyle_06{
  @include fontEn;
  border-radius: 50px;
  min-height: 80/$design-num-sp*100vw;
  display: flex;
  align-items: center;
  border: 2/$design-num-sp*100vw solid $white;
  @include fz_vw(20);
  color: $white;
  position: relative;
  white-space: nowrap;
  justify-content: center;
  overflow: hidden;
  >span{
    display: block;
    position: relative;
  }
  &::before{
    position: absolute;
    background-color: $white;
    transition: .3s;
    content: '';
    display: block;
    top: 0;
    left: -100%;
    width: 100%;
    bottom: 0;
  }
}
@media screen and (min-width: $break-point-middle) {
.btnStyle_06{
  min-height: 40px;
  border: 1px solid $white;
  font-size: 1.0rem;
  &:hover{
    color: $key-color;
    &::before{
      left: 0;
    }
  }
}
}
////////////////////////////////////////////////////////////
.btnStyle_07{
  @extend .btnStyle_06;
  color: $key-gray;
  border: 2/$design-num-sp*100vw solid $key-gray;
  //font-weight: bold;
  &::before{
    background-color: $key-gray;
  }
}
@media screen and (min-width: $break-point-middle) {
.btnStyle_07{
  border: 1px solid $white;
  color: $white;
  //font-weight: bold;
  &:hover{
    color: $key-black;
    &::before{
      background-color: $white;
    }
  }
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.summaryStyle_01{
  @include fz_vw(26);
  line-height: (56/26)+em;
  letter-spacing: .05em;
  text-align: justify;
  >*{
    margin-bottom: (12/12)+em;
    &:last-child{
      margin-bottom: 0;
    }
  }
  sup{
    @include fz_vw(18);
    position: relative;
    top: -2px;
  }
}
@media screen and (min-width: $break-point-middle) {
.summaryStyle_01{
  font-size: $summary-font-size;
  line-height: (30/12)+em;
  text-align: left;
  sup{
    font-size: .8rem;
  }
}
}
@media screen and (min-width: $design-width) {
// .summaryStyle_01{
//   @include fz_vwpc(12);
//   sup{
//     @include fz_vwpc(10);
//   }
// }
}
//////////////////////////////////////
.summaryStyle_02{
  @include fz_vw(26);
  line-height: (50/26)+em;
  letter-spacing: .15em;
  text-align: justify;
  span{
    @include fz_vw(20);
  }
  >*{
    margin-bottom: (12/12)+em;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
@media screen and (min-width: $break-point-middle) {
.summaryStyle_02{
  font-size: $summary-font-size;
  line-height: (24/12)+em;
  span{
    font-size: 1.0rem;
  }
}
}
////////////////////////////////////
.summaryStyle_03{
  @include fz_vw(26);
  line-height: (56/26)+em;
  letter-spacing: .05em;
  text-align: justify;
  >*{
    margin-bottom: (12/12)+em;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
@media screen and (min-width: $break-point-middle) {
.summaryStyle_03{
  font-size: $summary-font-size;
  line-height: (30/12)+em;
}
}
////////////////////////////////////
.summaryStyle_04{
  line-height: (44/20)+em;
  @include fz_vw(20);
  letter-spacing: .02em;
  p{
    text-align: justify;
    word-break: break-all;
  }
  >*{
    margin-bottom: (18/12)+em;
    &:last-child{
      margin-bottom: 0;
    }
    &.style_01{
      margin-bottom: 0;
    }
    &.style_02{
      margin-bottom: 10/$design-num-sp*100vw;
    }
  }
}
@media screen and (min-width: $break-point-middle) {
.summaryStyle_04{
  line-height: (26/12)+em;
  font-size: $summary-font-size;
  >*{
    &.style_02{
      margin-bottom: 5px;
    }
  }
}
}
////////////////////////////////////
.summaryStyle_05{
  line-height: (56/26)+em;
  @include fz_vw(26);
  letter-spacing: .02em;
  p{
    text-align: justify;
    word-break: break-all;
  }
  >*{
    margin-bottom: (18/12)+em;
    &:last-child{
      margin-bottom: 0;
    }
    &.style_01{
      margin-bottom: 0;
    }
  }
}
@media screen and (min-width: $break-point-middle) {
.summaryStyle_05{
  line-height: (26/12)+em;
  font-size: $summary-font-size;
}
}
////////////////////////////////////
.summaryStyle_06{
  @include fz_vw(26);
  line-height: (56/26)+em;
  letter-spacing: .05em;
  text-align: justify;
  >*{
    margin-bottom: (12/12)+em;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
@media screen and (min-width: $break-point-middle) {
.summaryStyle_06{
  font-size: $summary-font-size;
  line-height: (26/12)+em;
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
@media screen and (min-width: $break-point-middle) {
.txStyle_01{
  font-size: 1.0rem;
}
}
@media screen and (min-width: $design-width) {
// .txStyle_01{
//   @include fz_vwpc(10);
// }
}
///////////////////////////////////
.txStyle_02{
  @include fz_vw(20);
}
@media screen and (min-width: $break-point-middle) {
.txStyle_02{
  font-size: 1.0rem;
}
}
@media screen and (min-width: $design-width) {
// .txStyle_02{
//   @include fz_vwpc(10);
// }
}
///////////////////////////////////
.txStyle_03{
  line-height: (40/20)+em;
  @include fz_vw(20);
  color: $key-color5;
}
@media screen and (min-width: $break-point-middle) {
.txStyle_03{
  line-height: (20/10)+em;
  font-size: 1.0rem;
}
}
///////////////////////////////////
.txStyle_04{
  line-height: (40/20)+em;
  @include fz_vw(20);
}
@media screen and (min-width: $break-point-middle) {
.txStyle_04{
  line-height: (20/10)+em;
  font-size: 1.0rem;
}
}
///////////////////////////////////
.txStyle_05{
  // padding-left: 1em;
  // text-indent: -1em;
  line-height: (40/20)+em;
  @include fz_vw(20);
}
@media screen and (min-width: $break-point-middle) {
.txStyle_05{
  line-height: (22/12)+em;
  font-size: $summary-font-size;
}
}
///////////////////////////////////
@media screen and (min-width: $break-point-middle) {
.txStyle_06{
  letter-spacing: .03em;
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.imgStyle_01{
  border-radius: 10px;
  overflow: hidden;
  img{
    @include imgset;
  }
  .loadImg{
    padding-top: 362/576*100%;
  }
}
@media screen and (min-width: $break-point-middle) {
.imgStyle_01{
  max-width: 764px;
  .loadImg{
    padding-top: 455/764*100%;
  }
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.listStyle_01{
  li{
    padding-left: 1em;
    text-indent: -1em;
    &::before{
      content: '◯';
    }
  }
}
/////////////////////////////////
.listStyle_02{
  counter-reset: number 0;
  >li{
    padding-left: 1.8em;
    position: relative;
    &::before{
      position: absolute;
      top: 0;
      left: 0;
      counter-increment: number 1;
      content:  "("counter(number) ")";
    }
  }
}
@media screen and (min-width: $break-point-middle) {
.listStyle_02{
  >li{
    &::before{
      content:  "("counter(number) ")";
    }
  }
}
}
/////////////////////////////////
.listStyle_03{
  >li{
    text-align: justify;
    padding-left: 1em;
    text-indent: -1em;
    line-height: 1.7em;
    margin-bottom: .3em;
    &:last-child{
      margin-bottom: 0;
    }
    &::before{
      content: '・';
    }
  }
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
@media screen and (min-width: $break-point-middle) {
.linkStyle_01{
  &:hover{
    text-decoration: underline;
  }
}
}
//////////////////////////////////////
.linkStyle_02{
  text-decoration: underline;
}
@media screen and (min-width: $break-point-middle) {
.linkStyle_02{
  &:hover{
    text-decoration: none;
  }
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.dlStyle_01{
  dl{
    @include setTbl;
    //margin-bottom: 10/$design-num-sp*100vw;
    &:last-child{
      margin-bottom: 0;
    }
    >*{
      vertical-align: top;
    }
  }
  dt{
    width: 10em;
    padding-right: 2em;
    white-space: nowrap;
  }
}
@media screen and (min-width: $break-point-middle) {
.dlStyle_01{
  dl{
    @include setTbl;
    //margin-bottom: 5px;
    &:last-child{
      margin-bottom: 0;
    }
    >*{
      vertical-align: top;
    }
  }
  dt{
    width: 9em;
    padding-right: 2em;
  }
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
@media screen and (min-width: $break-point-middle) {
}
