@charset "utf-8";
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
footer{
  padding: 178px 20px 40px;
  >.inner{
    position: relative;
  }
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.footNav{
  @include setTbl;
  width: auto;
  table-layout: auto;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1em;
  @include fontEn;
  letter-spacing: .02em;
  >*{
    text-align: center;
    padding: 0 25px;
  }
  a{
    display: inline-block;
    @include over_06;
  }
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.copyRightSec{
  position: absolute;
  right: 0;
  bottom: 0;
  @include fontEn;
  font-size: 1.0rem;
  line-height: 1em;
  letter-spacing: .02em;
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
@media screen and (min-width: $break-point-middle) {
}
