@charset "utf-8";
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
footer{
  padding: 350/$design-num-sp*100vw 28/$design-num-sp*100vw 40/$design-num-sp*100vw 140/$design-num-sp*100vw;
  >.inner{
    position: relative;
  }
}
@media screen and (min-width: $break-point-middle) {
footer{
  padding: 178px 20px $header-size;
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.footNav{
  @include fz_vw(20);
  line-height: 1em;
  @include fontEn;
  letter-spacing: .04em;
  padding-bottom: 30/$design-num-sp*100vw;
  >*{
    display: inline-block;
    width: 138/$design-num-sp*100vw;
    margin-bottom: 30/$design-num-sp*100vw;
  }
  a{
    display: inline-block;
    @include over_06;
    &.current{
      cursor: default;
      pointer-events: none;
      opacity: .8;
    }
  }
}
@media screen and (min-width: $break-point-middle) {
.footNav{
  @include setTbl;
  width: auto;
  table-layout: auto;
  margin: 0 0 0 314/1232*100%;
  font-size: $summary-font-size;
  letter-spacing: .02em;
  padding-bottom: 0;
  >*{
    text-align: center;
    padding: 0 25px;
    width: auto;
    margin-bottom: 0;
  }
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.copyRightSec{
  position: absolute;
  right: 0;
  bottom: 0;
  @include fontEn;
  @include fz_vw(20);
  line-height: 1em;
  letter-spacing: .02em;
}
@media screen and (min-width: $break-point-middle) {
.copyRightSec{
  font-size: 1.0rem;
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
@media screen and (min-width: $break-point-middle) {
}
