@charset "utf-8";
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
footer{
  padding: 350/$design-num-sp*100vw 70/$design-num-sp*100vw 40/$design-num-sp*100vw 70/$design-num-sp*100vw;
  >.inner{
    position: relative;
  }
}
@media screen and (min-width: $break-point-middle) {
footer{
  padding: 178px 20px 20px;
  >.inner{
    text-align: center;
  }
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.footNav{
  @include fz_vw(20);
  line-height: 1em;
  @include fontEn;
  letter-spacing: .04em;
  //padding-bottom: 30/$design-num-sp*100vw;
  >*{
    display: inline-block;
    width: 175/$design-num-sp*100vw;
    margin-bottom: 30/$design-num-sp*100vw;
  }
  a{
    display: inline-block;
    @include over_06;
    &.current{
      cursor: default;
      pointer-events: none;
      opacity: .8;
    }
  }
}
@media screen and (min-width: $break-point-middle) {
.footNav{
  font-size: 1.0rem;
  letter-spacing: .02em;
  padding-bottom: 0;
  display: inline-block;
  >*{
    text-align: center;
    padding: 0 12px;
    width: auto;
    margin-bottom: 0;
  }
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.footNavJa{
  @include fz_vw(20);
  line-height: 1em;
  letter-spacing: .04em;
  padding-bottom: 35/$design-num-sp*100vw;
  >*{
    display: inline-block;
    min-width: 300/$design-num-sp*100vw;
    margin-bottom: 30/$design-num-sp*100vw;
    white-space: nowrap;
    &:nth-child(1),&:nth-child(3){
      min-width: 175/$design-num-sp*100vw;
    }
  }
  a{
    display: inline-block;
    @include over_06;
    &.current{
      cursor: default;
      pointer-events: none;
      opacity: .8;
    }
  }
}
@media screen and (min-width: $break-point-middle) {
.footNavJa{
  display: inline-block;
  font-size: 1.0rem;
  letter-spacing: .02em;
  padding-bottom: 0;
  >*{
    display: inline-block;
    min-width: 0;
    margin-bottom: 0;
    padding: 0 12px;
    &:nth-child(1),&:nth-child(3){
      min-width: 0;
    }
  }
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.footIconNav{
  @include killSpace;
  li{
    margin-right: 38/$design-num-sp*100vw;
    &:last-child{
      margin-right: 0;
    }
    img{
      @include imgset;
    }
    svg{
      display: block;
    }
    &.instagram{
      img{
        width: 40/$design-num-sp*100vw;
      }
      svg{
        width: 40/$design-num-sp*100vw;
        height: 40/$design-num-sp*100vw;
      }
    }
    &.twitter{
      img{
        width: 40/$design-num-sp*100vw;
      }
      svg{
        width: 40/$design-num-sp*100vw;
        height: 40/$design-num-sp*100vw;
      }
    }
  }
  a{
    svg{
      fill:$key-gray;
      transition: .3s;
    }
  }
}
@media screen and (min-width: $break-point-middle) {
.footIconNav{
  position: absolute;
  right: 0px;
  top: 0;
  li{
    margin-right: 14px;
    &:last-child{
      margin-right: 0;
    }
    &.instagram{
      img{
        width: 16px;
      }
      svg{
        width: 16px;
        height: 16px;
      }
    }
    &.twitter{
      img{
        width: 16px
      }
      svg{
        width: 16px;
        height: 16px;
      }
    }
  }
  a:hover{
    svg{
      fill:$key-black;
    }
  }
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.copyRightSec{
  color: #c8c8c8;
  position: absolute;
  right: -42/$design-num-sp*100vw;
  bottom: 20/$design-num-sp*100vw;
  @include fontEn;
  @include fz_vw(20);
  line-height: 1em;
  letter-spacing: .02em;
}
@media screen and (min-width: $break-point-middle) {
.copyRightSec{
  font-size: 1.0rem;
  right: auto;
  left: 0;
  bottom: auto;
  top: 6px;
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
@media screen and (min-width: $break-point-middle) {
}
