@charset "utf-8";
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
header{
  position: fixed;
  width: 100%;
  background-color: $white;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 55/$design-num-sp*100vw 28/$design-num-sp*100vw 32/$design-num-sp*100vw;
  @include fontEn;
  @include fz_vw(26);
  line-height: 1em;
  letter-spacing: .02em;
  min-height: $header-size-sp;
  >.inner{
    @include setTbl;
    >*{
      vertical-align: top;
    }
  }
}
@media screen and (min-width: $break-point-middle) {
header{
  padding: 30px 20px 10px;
  font-size: $summary-font-size;
  min-height: $header-size;
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
header .col-logo{
  width: 60%;
  position: relative;
  h1{
    @include fz_vw(26);
    letter-spacing: .02em;
    @include fontEn;
    line-height: 1em;
    //text-transform: capitalize;
    a{
      display: inline-block;
      @include over_06;
    }
  }
  h1.logo{
    opacity: 1;
    transition: .3s;
    &.ja{
      font-family: $base-font-family;
    }
    &.tx{
      position: relative;
      top: -2px;
    }
    &.hidden{
      opacity: 0;
    }
    a{
      img{
        width: 46/$design-num-sp*100vw;
      }
    }
    .menuOpen &{
      opacity: 0;
    }
  }
  .navTtl{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    @include fz_vw(26);
    letter-spacing: .02em;
    @include fontEn;
    line-height: 1em;
    a{
      cursor: default;
      pointer-events: none;
      display: inline-block;
      @include over_06;
    }
  }
}
@media screen and (min-width: $break-point-middle) {
header .col-logo{
  width: 314/1232*100%;
  h1{
    font-size: $summary-font-size;
  }
  h1.logo{
    a{
      img{
        width: 22px;
      }
    }
  }
  .navTtl{
    font-size: $summary-font-size;
  }
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
header .col-nav{
  display: none;
}
@media screen and (min-width: $break-point-middle) {
header .col-nav{
  display: table-cell;
  .productNav{
    display: none;
    padding: 56px 0 46px;
    li{
      margin-bottom: 28px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  a{
    color: $key-black;
    @include over_06;
    &.current{
      cursor: default;
      pointer-events: none;
      opacity: .8;
      //left: 5px;
    }
  }
  .parent a{
    &.current{
      cursor: pointer;
      pointer-events: auto;
    }
  }
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
header .col-EcNav{
  text-align: right;
  a{
    color: $key-black;
    @include over_06;
  }
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.headMask{
  span{
    width: 20/$design-num-sp*100vw;
    height: 20/$design-num-sp*100vw;
    display: block;
    left: 27/$design-num-sp*100vw;
    z-index: 100;
  }
  span.head{
    position: fixed;
    top: $header-size-sp;
    z-index: 1000;
    &:nth-child(2){
      left: auto;
      right: 28/$design-num-sp*100vw;
    }
  }
  svg{
    display: block;
    fill:$white;
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: $break-point-middle) {
.headMask{
  span{
    width: 10px;
    height: 10px;
    left: 20px;
  }
  span.head{
    top: $header-size;
    &:nth-child(2){
      right: 20px;
    }
  }
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
@media screen and (min-width: $break-point-middle) {
}
