@charset "utf-8";
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
#outerMenu{
	@include opacity(1);
	position: relative;
	.menuOpen &{
		// overflow: hidden;
		// position: fixed;
		// width: 100%;
	}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
#clickBlocker{
	width: 100%;
	height: 100%;
	position:fixed;
	top: 0;
	left: 0;
	z-index: 600;
	//background-color:rgba(255, 255, 255, .8);
	display: none;
	.menuOpen &{
		display: block;
	}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
#scrollBlocker{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	overflow: auto;
	overscroll-behavior: none;
	display: none;
	.menuOpen &{
		display: block;
		z-index: 600;
	}
	span{
		display: block;
		height: 101vh;
	}
}
@media screen and (min-width: $break-point-middle) {
#scrollBlocker{
	display: none;
	.menuOpen &{
		display: none;
	}
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
$menuTrans:.5s cubic-bezier(.645,.045,.355,1);
#mainNav{
  position: fixed;
  left: 64/$design-num-sp*100vw;
  bottom: 36/$design-num-sp*100vw;
  width: 196/$design-num-sp*100vw;
  height: 196/$design-num-sp*100vw;
  z-index: 700;
  cursor: pointer;
	transform-origin: 0 100%;
	transition: $menuTrans;
	&.foot{
		bottom: 180/$design-num-sp*100vw;
	}
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
    background-color: $white;
    width: 100%;
    height: 100%;
		transition: width $menuTrans,height $menuTrans,filter $menuTrans,border-radius $menuTrans;
  }
  >.inner{
    position: relative;
    width: 100%;
    height: 100%;
  }
  .cel{
    @include setTbl;
    height: 100%;
    >*{
      text-align: center;
    }
  }
  .logoNav{
    a{
      display: inline-block;
      line-height: 1em;
      vertical-align: middle;
    }
    img{
      width: 37/$design-num-sp*100vw;
      display: inline-block;
    }
  }
  .closeBtn{
    display: none;
		opacity: 0;
  }
}
@media screen and (min-width: $break-point-middle) {
#mainNav{
  left: 40px;
  bottom: 14px;
  width: 120px;
  height: 120px;
	&.foot{
		bottom: 40px;
	}
  &:hover{
    &::before{
      filter: blur(5px);
    }
  }
  .logoNav{
    img{
      width: 17px;
    }
  }
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
#mainNav.active{
	width: 614/$design-num-sp*100vw;
	height: -webkit-calc(100% - #{$header-size-sp} - #{36/$design-num-sp*100vw} - #{36/$design-num-sp*100vw});
	height: calc(100% - #{$header-size-sp} - #{36/$design-num-sp*100vw} - #{36/$design-num-sp*100vw});
	padding: 30/$design-num-sp*100vw 20/$design-num-sp*100vw 50/$design-num-sp*100vw 0;
	&.foot{
		bottom: 36/$design-num-sp*100vw;
	}
	a{
		@include over_06;
	}
	&::before{
		filter: blur(0px);
		border-radius: 70/$design-num-sp*100vw;
  }
	>.inner{
		min-height: 500/$design-num-sp*100vw;
		overflow: auto;
		overscroll-behavior: none;
	}
	.logoNav{
		text-align: left;
		padding-left: 100/$design-num-sp*100vw;
		margin-bottom: 50/$design-num-sp*100vw;
		img{
			width: 50/$design-num-sp*100vw;
		}
	}
	.mainNavSec{
		display: block;
		animation: show .5s linear 0s forwards;
	}
	.closeBtn{
		display: block;
		animation: show .5s linear 0s forwards;
		position: absolute;
		bottom: 80/$design-num-sp*100vw;
		left: 100/$design-num-sp*100vw;
		img{
			width: 28/$design-num-sp*100vw;
			transition: .3s;
			transform-origin: 50% 50%;
		}
  }
}
@media screen and (min-width: $break-point-middle) {
#mainNav.active{
	width: 280px;
	height: -webkit-calc(100vh - #{$header-size} - 15px - 14px);
	height: calc(100vh - #{$header-size} - 15px - 14px);
	padding: 30px 20px 50px 0;
	&.foot{
		bottom: 14px;
	}
	&::before{
		border-radius: 50px;
  }
	>.inner{
		min-height: 20px;
	}
	.logoNav{
		padding-left: 55px;
		margin-bottom: 10px;
		img{
			width: 26px;
		}
	}
	.closeBtn{
		bottom: 20px;
		left: 55px;
		img{
			width: 10px;
		}
		&:hover{
			img{
				transform: scale(1.4);
			}
		}
  }
}
@media screen and (min-height: 400px) {
#mainNav.active{
	padding: 60px 20px 80px 0;
	.logoNav{
		margin-bottom: 30px;
	}
	.closeBtn{
		bottom: 60px;
  }
}
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
#mainNav .mainNavSec{
  display: none;
	opacity: 0;
	padding: 0 100/$design-num-sp*100vw;
	text-align: left;
	li{
		white-space: nowrap;
	}
	.parent{
		li{
			@include fontEn;
			letter-spacing: .02em;
			line-height: 1em;
		}
		>li{
			@include fz_vw(32);
			margin-bottom: 40/$design-num-sp*100vw;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.child{
		padding-top: 20/$design-num-sp*100vw;
		li{
			@include fz_vw(20);
			margin-bottom: 10/$design-num-sp*100vw;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.smallMenu{
		margin-top: 50/$design-num-sp*100vw;
		font-family: $fontMix;
		@include fz_vw(20);
		font-weight: 300;
		li{
			margin-bottom: 2/$design-num-sp*100vw;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}
@media screen and (min-width: $break-point-middle) {
#mainNav .mainNavSec{
	padding: 0 55px;
	.parent{
		>li{
			font-size: 1.8rem;
			margin-bottom: 14px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.child{
		padding-top: 10px;
		li{
			font-size: 1.0rem;
			margin-bottom: 2px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.smallMenu{
		margin-top: 14px;
		font-size: 1.0rem;
		li{
			margin-bottom: 2px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}
@media screen and (min-height: 700px) {
#mainNav .mainNavSec{
	.parent{
		>li{
			margin-bottom: 30px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.child{
		li{
			margin-bottom: 6px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.smallMenu{
		margin-top: 34px;
		li{
			margin-bottom: 5px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
@media screen and (min-width: $break-point-middle) {
}
