@charset "utf-8";
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
#wrapper{
  padding-top: $header-size;
  position: relative;
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
$delayH:200px;
.galleryWidget{
  .mask{
    span{
      position: fixed;
      top: $header-size;
      width: 10px;
      height: 10px;
      display: block;
      left: 20px;
      z-index: 100;
      &:last-child{
        left: auto;
        right: 20px;
      }
    }
    svg{
      display: block;
      fill:$white;
      width: 100%;
      height: 100%;
    }
  }
  .item.active+.mask{
    span{
      // top: 0;
      // position: absolute;
    }
  }
  .item{
    position: relative;
    height: -webkit-calc(100vh - #{$header-size} + #{$delayH})!important;
    height: calc(100vh - #{$header-size} + #{$delayH})!important;
    &:nth-child(n+2){
      padding-top: $delayH;
    }
    @for $i from 1 through 50 {
		  &:nth-child(#{$i}) {
        .wrapper{
          z-index: 50 - $i;
        }
		  }
		}
  }
  .wrapper{
    position: fixed;
    top: $header-size;
    left: 0px;
    width: 100%;
    // width: -webkit-calc(100% - 40px);
    // width: calc(100% - 40px);
    height: -webkit-calc(100vh - #{$header-size})!important;
    height: calc(100vh - #{$header-size})!important;
    >.inner{
      padding: 0 20px;
      height: 100%;
    }
    // span{
    //   width: 100%;
    //   height: 100%;
    //   background-size: cover;
    //   background-position: 50% 50%;
    // }
    img{
      -webkit-backface-visibility: hidden;
      width: 100%;
      height: 100%!important;
      object-fit: cover;
    }
  }
  .item.active{
    .wrapper{
      top: 0px;
      position: relative;
    }
  }
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.galleryWidget .content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  a{
    display: block;
  }
}
//////////////////////////////////
.galleryWidget .content.style_01{
  .wrap{
    @include setTbl;
    height: 100%;
    >*{
      text-align: center;
    }
  }
  h2{
    @include fontEn;
    line-height: 1em;
    font-size: 2.4rem;
    color: $white;
    letter-spacing: .01em;
    position: relative;
    opacity: 0;
    transition: .8s;
  }
}
.galleryWidget .item.move .content.style_01{
  h2{
    opacity: 1;
  }
}
//////////////////////////////////
.galleryWidget .content.style_02{
  .wrap{
    @include setTbl;
    width: 50%;
    height: 100%;
    margin: 0 0 0 auto;
    transition: .8s;
    opacity: 0;
    >*{
      text-align: center;
    }
  }
  a{
    width: 100%;
    height: 100%;
    color: $white;
    h2{
      font-size: 1.8rem;
      line-height: 1em;
      @include fontEn;
      letter-spacing: .12em;
      margin-bottom: 28px;
      font-weight: 400;
    }
    h3{
      font-size: 2.2rem;
      line-height: 1em;
      letter-spacing: .1em;
      margin-bottom: 12px;
      span{
        position: relative;
        font-size: 1.2rem;
        top: -.6em;
      }
      img{
        width: 188px;
        display: inline-block;
      }
    }
    .caution{
      font-size: 1.0rem;
      line-height: 1em;
      font-weight: bold;
    }
    .btn{
      margin-top: 24px;
      @include fontEn;
      font-weight: 400;
      letter-spacing: .1em;
      >span{
        display: inline-block;
        left: 0;
        position: relative;
        transition: .3s;
        &::after{
          content: '';
          width: 8px;
          height: 8px;
          border-radius: 8px;
          line-height: 1em;
          display: inline-block;
          background-color: $white;
          margin-left: 4px;
        }
      }
      >span:hover{
        left: 5px;
      }
    }
  }
}
.galleryWidget .item.move .content.style_02{
  .wrap{
    opacity: 1;
  }
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
#homeContainer{
  position: relative;
  z-index: 101;
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.dummy{
  height: 2000px;
  background-color: #ff0000;
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
@media screen and (min-width: $break-point-middle) {
}
