@charset "utf-8";
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
#wrapper{
  padding-top: $header-size-sp;
  position: relative;
  // &.menuOpen{
  //   position: fixed;
  // }
}
@media screen and (min-width: $break-point-middle) {
#wrapper{
  padding-top: $header-size;
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
@media screen and (min-width: $break-point-middle) {
main{
  min-height: -webkit-calc(100vh - 200px);
  min-height: calc(100vh - 200px);
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
#homeContainer{
  position: relative;
  z-index: 101;
  margin-top: 28/$design-num-sp*100vw;
}
@media screen and (min-width: $break-point-middle) {
#homeContainer{
  margin-top: 20px;
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.homeContentSec{
  @include baseSpPad;
  >.inner{
    >*{
      &:first-child{
        margin-bottom: 28/$design-num-sp*100vw;
      }
    }
  }
  section{
    position: relative;
    a{
      display: block;
      border-radius: 20/$design-num-sp*100vw;
      overflow: hidden;
      position: relative;
      .bg{
        width: 100%;
        position: relative;
        img{
          @include imgset;
        }
        &::after{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: 100%;
          transition: .3s;
        }
      }
      .content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 736/$design-num-sp*100vw;
        @include setTbl;
        >*{
          text-align: center;
        }
      }
      h2{
        @include fontEn;
        color: $white;
        letter-spacing: .04em;
        @include fz_vw(36);
        transition: opacity 1s,top 1s,left .3s;
        opacity: 0;
        position: relative;
        top: 20px;
        left: 0;
      }
    }
    &.active{
      a{
        h2{
          opacity: 1;
          top: 0;
        }
      }
    }
  }
}
@media screen and (min-width: $break-point-middle) {
.homeContentSec{
  padding: 0 20px;
  >.inner{
    @include setTbl;
    >*{
      &:first-child{
        margin-bottom: 0;
        padding-right: 10px;
      }
      &:last-child{
        padding-left: 10px;
      }
    }
  }
  section{
    a{
      border-radius: 10px;
      .bg{
        &::after{
          background-color: rgba(0, 0, 0, .03);
        }
      }
      .content{
        height: 734/$design-num*100vw;
      }
      h2{
        font-size: 1.8rem;
      }
    }
    a:hover{
      .bg{
        &::after{
          opacity: 0;
        }
      }
      h2{
        left: 5px;
      }
    }
  }
}
}
@media screen and (min-width: $design-width) {
.homeContentSec{
  section{
    a{
      h2{
        @include fz_vwpc(18);
      }
    }
  }
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.photoChanger{
  position: relative;
  &::before{
    content: '';
    display: block;
    width: 100%;
    padding-top: 100%;
  }
  li{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 1.5s;
    &.action{
      opacity: 1;
    }
  }
  img{
    border-radius: 10px;
    @include imgset;
  }
}
.photoChanger.style_01{
  &::before{
    padding-top: 1500/694*100%;
  }
}
.photoChanger.style_02{
  &::before{
    padding-top: -webkit-calc(100vh - #{$header-size-sp})!important;
    padding-top: calc(100vh - #{$header-size-sp})!important;
  }
  li{
    bottom: 0;
  }
  img{
    height: 100%!important;
    object-fit: cover;
  }
}
@media screen and (min-width: $break-point-middle) {
.photoChanger.style_01{
  &::before{
    padding-top: 734/608*100%;
  }
}
.photoChanger.style_02{
  &::before{
    padding-top: -webkit-calc(100vh - #{$header-size})!important;
    padding-top: calc(100vh - #{$header-size})!important;
  }
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.movieStyle_01{
  >.inner{
    border-radius: 10px;
    overflow: hidden;
  }
  .cover{
    img{
      @include imgset;
    }
  }
  .loadImg{
    position: relative;
    padding-top:742/1232*100%;
  }
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.onlyProduct{
  display: none;
  .products &,.detail-product &{
    display: block;
  }
}
.product_01 .product_01Hide{
  display: none;
}
.product_02 .product_02Hide{
  display: none;
}
.product_03 .product_03Hide{
  display: none;
}
.about .product_03Hide{
  display: none;
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.stepUnit{
  .circle{
    position: absolute;
    top: 0;
    left: -6/$design-num-sp*100vw;
    display: block;
    background-color: $white;
    padding-bottom: 35/$design-num-sp*100vw;
    z-index: 10;
    &::before{
      content: '';
      width: 16/$design-num-sp*100vw;
      height: 16/$design-num-sp*100vw;
      border-radius: 16/$design-num-sp*100vw;
      background-color: $key-color1;
      display: block;
      opacity: 0;
      transition: .3s;
    }
  }
  .sec{
    position: relative;
    margin-left: -36/$design-num-sp*100vw;
    margin-bottom: 30/$design-num-sp*100vw;
    &:last-child{
      margin-bottom: 0;
    }
    &::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 30/$design-num-sp*100vw;
      height: 100%;
      background-color: $white;
      transition: 1s $ease-out-quad;
    }
    >.inner{
      border-left: 1px solid #bfc0c0;
      padding-left: 30/$design-num-sp*100vw;
      padding-bottom: 160/$design-num-sp*100vw;
    }
  }
  .sec.active{
    &::after{
      bottom: -100%;
    }
    .circle{
      &::before{
        opacity: 1;
      }
    }
    .step{
      opacity: 1;
    }
  }
  .cont{
    >.inner{
      position: relative;
      top: 0px;
    }
  }
  .step{
    opacity: 0;
    transition: .3s;
    @include fontEn;
    line-height: 1em;
    @include fz_vw(20);
    color: $key-color1;
    margin-bottom: 30/$design-num-sp*100vw;
    letter-spacing: .06em;
  }
  h3{
    font-weight: normal;
    margin-bottom: 14/$design-num-sp*100vw;
    line-height: 1em;
    @include fz_vw(20);
    letter-spacing: .04em;
    .en{
      @include fontEn;
    }
  }
  h4{
    line-height: (60/34)+em;
    @include fz_vw(34);
    margin-bottom: 50/$design-num-sp*100vw;
    letter-spacing: .06em;
  }
  .summary{
    line-height: (48/26)+em;
    @include fz_vw(26);
    letter-spacing: .04em;
    text-align: justify;
    sup{
      @include fz_vw(20);
      position: relative;
      top: -2px;
    }
  }
  .caution{
    @include fz_vw(20);
    margin-top: 30/$design-num-sp*100vw;
  }
  .elemWrap{
    margin-top: 85/$design-num-sp*100vw;
  }
  .sec:nth-child(2){
    .circle{
      &::before{
        background-color: $key-color2;
      }
    }
    .step{
      color: $key-color2;
    }
  }
  .sec:nth-child(3){
    >.inner{
      border: none;
      padding-bottom: 0;
    }
    .circle{
      &::before{
        background-color: $key-color3;
      }
    }
    .step{
      color: $key-color3;
    }
  }
}
@media screen and (min-width: $break-point-middle) {
.stepUnit{
  .circle{
    left: 0;
    padding-bottom: 20px;
    &::before{
      width: 10px;
      height: 10px;
      border-radius: 10px;
    }
  }
  .sec{
    padding-left: 4px;
    margin-left: 0;
    margin-bottom: 18px;
    &:last-child{
      margin-bottom: 0;
    }
    &::after{
      width: 40px;
    }
    >.inner{
      padding-left: 36px;
      padding-bottom: 60px;
    }
  }
  .cont{
    padding-left: 3px;
  }
  .step{
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  h3{
    margin-bottom: 5px;
    font-size: 1.2rem;
  }
  h4{
    line-height: 1em;
    font-size: 1.6rem;
    margin-bottom: 20px;
  }
  .summary{
    line-height: (26/12)+em;
    font-size: 1.2rem;
    sup{
      font-size: .8rem;
    }
  }
  .caution{
    font-size: 1.0rem;
    margin-top: 8px;
  }
  .elemWrap{
    margin-top: 55px;
  }
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.productSec_01{
  overflow: hidden;
  .product-single__media-wrapper,.product-single__media-group{
    display: none;
  }
  .product-single__title{
    display: none;
  }
  .product__policies{
    display: none;
  }
  #mikawaya-fieldset{
    position: relative;
    legend{
      display: none;
    }
  }
  .mikawaya-selling-plan-select{
    display: none;
  }
  .mikawaya-selling-plan-description{
    display: none;
  }
  .product-template__container{
    //display: none;
  }
  .product-form__variants{
    display: none;
  }
  .product-form__error-message-wrapper{
    display: none;
  }
  .product-form__controls-group{
    display: none;
  }
  .visually-hidden{
    display: none;
  }
  .product-single__description{
    display: none;
  }
  .social-sharing{
    display: none;
  }
  .mikawaya-product-page-widget-container{
    margin-bottom: 70/$design-num-sp*100vw;
  }
  .mikawaya-selling-plan-group-container{
    position: relative;
    @include fz_vw(30);
    line-height: 1em;
    padding-left: 44/$design-num-sp*100vw;
    color: $key-color;
    font-weight: bold;
    letter-spacing: .06em;
    margin-bottom: 36/$design-num-sp*100vw;
    &:last-child{
      margin-bottom: 0;
    }
  }
  .mikawaya-radio-button{
    @include appearance(none);
    min-height: 0;
    width: 100%;
    height: 40/$design-num-sp*100vw;
    position: absolute;
    cursor: pointer;
    outline: 0!important;
    margin: 0!important;
    &::before{
      content: '';
      position: absolute;
      top: 0px;
      left: -40/$design-num-sp*100vw;
      width: 30/$design-num-sp*100vw;
      height: 30/$design-num-sp*100vw;
      border-radius: 30/$design-num-sp*100vw;
      border: 1px solid $key-color1;
      transition: .3s;
      .product_02 &{
        border: 1px solid $key-color2;
      }
    }
    &:checked{
      &::before{
        background-color: $key-color1;
        .product_02 &{
          background-color: $key-color2;
        }
      }
    }
  }
  ////////////////////
  .eyeCatch{
    margin-bottom: 30/$design-num-sp*100vw;
    img{
      @include imgset;
    }
    .loadImg{
      padding-top: 100%;
    }
  }
  .ttl{
    margin-bottom: 100/$design-num-sp*100vw;
    h2{
      @include fz_vw(36);
      line-height: 1em;
      @include fontEn;
      letter-spacing: .04em;
      margin-bottom: 18/$design-num-sp*100vw;
    }
    p{
      @include fz_vw(20);
      line-height: 1em;
    }
  }
  .price{
    @include fz_vw(26);
    line-height: 1em;
    margin-bottom: 85/$design-num-sp*100vw;
    @include fontEn;
    span{
      font-family: $base-font-family;
      @include fz_vw(20);
    }
  }
  .btnWrap{
    >.inner{
      >*{
        margin-bottom: 50/$design-num-sp*100vw;
      }
    }
  }
  .sec{
    margin-bottom: 66/$design-num-sp*100vw;
    &:last-child{
      margin-bottom: 0;
    }
  }
  h3{
    @include fz_vw(34);
    line-height: 1em;
    letter-spacing: .04em;
    font-weight: normal;
    margin-bottom: 30/$design-num-sp*100vw;
    span{
      @include fz_vw(20);
      position: relative;
      top: -4px;
    }
  }
  .summary{
    line-height: (56/26)+em;
    @include fz_vw(26);
    letter-spacing: .02em;
    text-align: justify;
    sup{
      @include fz_vw(20);
      position: relative;
      top: -2px;
    }
  }
  .cautionList{
    line-height: 1em;
    @include fz_vw(20);
    margin-top: 45/$design-num-sp*100vw;
    li{
      margin-bottom: 10/$design-num-sp*100vw;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  dl{
    margin-bottom: 35/$design-num-sp*100vw;
    line-height: (40/20)+em;
    @include fz_vw(20);
    &:last-child{
      margin-bottom: 0;
    }
  }
  dt{
    &::after{
      content: 'ï¼š';
    }
  }
  dd{
    text-align: justify;
  }
  .strong{
    @include fz_vw(20);
    line-height: (40/20)+em;
    text-decoration: underline;
  }
}
@media screen and (min-width: $break-point-middle) {
.productSec_01{
  overflow: visible;
  .mikawaya-product-page-widget-container{
    margin-bottom: 40px;
  }
  .mikawaya-selling-plan-group-container{
    font-size: 1.6rem;
    padding-left: 18px;
    margin-bottom: 20px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  .mikawaya-radio-button{
    height: 20px;
    &::before{
      top: 2px;
      left: -18px;
      width: 12px;
      height: 12px;
      border-radius: 12px;
    }
  }
  ////////////////////
  .eyeCatch{
    margin-bottom: 20px;
  }
  .ttl{
    margin-bottom: 48px;
    h2{
      font-size: 2.4rem;
      margin-bottom: 5px;
    }
    p{
      font-size: 1.2rem;
    }
  }
  .price{
    font-size: 1.6rem;
    margin-bottom: 24px;
    span{
      font-size: 1.2rem;
    }
  }
  .btnWrap{
    >.inner{
      @include setTbl;
      >*{
        margin-bottom: 0;
        // &:first-child{
        //   padding-right: 15px;
        // }
        // &:last-child{
        //   padding-left: 15px;
        // }
      }
    }
  }
  .sec{
    margin-bottom: 42px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  h3{
    font-size: 1.6rem;
    margin-bottom: 20px;
    span{
      font-size: 1.0rem;
    }
  }
  .summary{
    line-height: (30/12)+em;
    font-size: 1.2rem;
    sup{
      font-size: 1.0rem;
    }
  }
  .cautionList{
    font-size: 1.0rem;
    margin-top: 30px;
    li{
      margin-bottom: 5px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  dl{
    margin-bottom: 25px;
    line-height: (22/12)+em;
    font-size: 1.2rem;
    &:last-child{
      margin-bottom: 0;
    }
  }
  .strong{
    line-height: (22/12)+em;
    font-size: 1.2rem;
  }
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.navStyle_01{
  border-bottom: 1px solid #dcdddd;
  ul{
    // overflow: auto;
    // width: auto;
    // -webkit-overflow-scrolling: touch;
    // white-space: nowrap;
    //@include fontEn;
    // padding-bottom: 30/$design-num-sp*100vw;
    @include fz_vw(20);
    line-height: 1em;
    letter-spacing: .02em;
  }
  li{
    display: inline-block;
    margin-right: 40/$design-num-sp*100vw;
    padding-bottom: 30/$design-num-sp*100vw;
    &:last-child{
      margin-right: 0;
    }
  }
  a{
    color: #9fa0a0;
    &.current,&.active{
      cursor: default;
      pointer-events: none;
      color: $key-black;
    }
  }
}
@media screen and (min-width: $break-point-middle) {
.navStyle_01{
  ul{
    font-size: 1.2rem;
    // padding-bottom: 10px;
  }
  li{
    margin-right: 24px;
    padding-bottom: 10px;
    &:last-child{
      margin-right: 0;
    }
  }
  a{
    &:hover{
      color: $key-black;
    }
  }
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
#faqWrap{
  section{
    padding-top: 150/$design-num-sp*100vw;
  }
  h2{
    line-height: (28/16)+em;
    @include fz_vw(26);
    letter-spacing: .04em;
    padding-left: 34/$design-num-sp*100vw;
    position: relative;
    margin-bottom: 70/$design-num-sp*100vw;
    &::before{
      content: '';
      display: block;
      position: absolute;
      top: 12/$design-num-sp*100vw;
      left: 0;
      width: 20/$design-num-sp*100vw;
      height: 20/$design-num-sp*100vw;
      border-radius: 20/$design-num-sp*100vw;
      background-color: $key-color1;
    }
  }
  section:nth-child(2n){
    h2{
      &::before{
        background-color:$key-color2;
      }
    }
  }
  section.disp{
    h2{
      &::before{
        background-color:$key-color1;
      }
    }
  }
  section.dispOdd{
    h2{
      &::before{
        background-color:$key-color2;
      }
    }
  }
  .content{
    line-height: (44/20)+em;
    @include fz_vw(20);
    p{
      text-align: justify;
    }
  }
}
@media screen and (min-width: $break-point-middle) {
#faqWrap{
  section{
    padding-top: 80px;
  }
  h2{
    font-size: 1.6rem;
    padding-left: 18px;
    margin-bottom: 30px;
    &::before{
      top: 7px;
      width: 13px;
      height: 13px;
      border-radius: 13px;
    }
  }
  .content{
    line-height: (26/12)+em;
    font-size: 1.2rem;
  }
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.dummy{
  height: 1000px;
  background-color: #ff0000;
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
@media screen and (min-width: $break-point-middle) {
}
