@charset "utf-8";
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
#wrapper{
  padding-top: $header-size-sp;
  position: relative;
  // &.menuOpen{
  //   position: fixed;
  // }
}
@media screen and (min-width: $break-point-middle) {
#wrapper{
  padding-top: $header-size;
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
$delayH:400/$design-num-sp*100vw;
.galleryWidget{
  position: relative;
  .mask{
    span{
      width: 20/$design-num-sp*100vw;
      height: 20/$design-num-sp*100vw;
      display: block;
      left: 27/$design-num-sp*100vw;
      z-index: 100;
    }
    span.head{
      position: fixed;
      top: $header-size-sp;
      &:nth-child(2){
        left: auto;
        right: 28/$design-num-sp*100vw;
      }
    }
    span.foot{
      position: absolute;
      transform: rotate(180deg);
      bottom: 0;
      &:nth-child(4){
        left: auto;
        right: 28/$design-num-sp*100vw;
      }
    }
    svg{
      display: block;
      fill:$white;
      width: 100%;
      height: 100%;
    }
  }
  .item{
    position: relative;
    height: -webkit-calc(100vh - #{$header-size-sp} + #{$delayH})!important;
    height: calc(100vh - #{$header-size-sp} + #{$delayH})!important;
    &:nth-child(n+2){
      padding-top: $delayH;
    }
    @for $i from 1 through 50 {
		  &:nth-child(#{$i}) {
        .wrapper{
          z-index: 50 - $i;
        }
		  }
		}
    a{
      >.wrapper>.inner{
        &::before{
          content: '';
          position: absolute;
          $gutter:56/$design-num-sp*100vw;
          width: -webkit-calc(100% - #{$gutter});
          width: calc(100% - #{$gutter});
          top: 0;
          left: 28/$design-num-sp*100vw;
          bottom: 0;
          transition: .3s;
        }
      }
    }
  }
  .wrapper{
    position: fixed;
    top: $header-size-sp;
    left: 0px;
    width: 100%;
    height: -webkit-calc(100vh - #{$header-size-sp})!important;
    height: calc(100vh - #{$header-size-sp})!important;
    >.inner{
      padding: 0 28/$design-num-sp*100vw;
      height: 100%;
      position: relative;
    }
    img{
      -webkit-backface-visibility: hidden;
      width: 100%;
      height: 100%!important;
      object-fit: cover;
    }
  }
  // .item:first-child .wrapper{
  //   position: absolute;
  //   top: 0;
  // }
  .item.active{
    .wrapper{
      top: 0px;
      position: relative;
    }
  }
}
@media screen and (min-width: $break-point-middle) {
$delayH:200px;
.galleryWidget{
  .mask{
    span{
      width: 10px;
      height: 10px;
      left: 20px;
    }
    span.head{
      top: $header-size;
      &:nth-child(2){
        right: 20px;
      }
    }
    span.foot{
      &:nth-child(4){
        right: 20px;
      }
    }
  }
  .item{
    height: -webkit-calc(100vh - #{$header-size} + #{$delayH})!important;
    height: calc(100vh - #{$header-size} + #{$delayH})!important;
    &:nth-child(n+2){
      padding-top: $delayH;
    }
    a{
      >.wrapper>.inner{
        &::before{
          background-color: rgba(0, 0, 0, .03);
          width: -webkit-calc(100% - 40px);
          width: calc(100% - 40px);
          left: 20px;
        }
      }
    }
    a:hover{
      >.wrapper>.inner{
        &::before{
          opacity: 0;
        }
      }
    }
  }
  .wrapper{
    top: $header-size;
    height: -webkit-calc(100vh - #{$header-size})!important;
    height: calc(100vh - #{$header-size})!important;
    >.inner{
      padding: 0 20px;
    }
  }
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.galleryWidget .content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  .wrap{
    position: relative;
  }
}
//////////////////////////////////
.galleryWidget .content.style_01{
  .wrap{
    @include setTbl;
    height: 100%;
    >*{
      text-align: center;
    }
  }
  h2{
    @include fontEn;
    line-height: 1em;
    @include fz_vw(36);
    color: $white;
    letter-spacing: .01em;
    position: relative;
    opacity: 0;
    transition: .8s;
  }
}
.galleryWidget .item.move .content.style_01{
  h2{
    opacity: 1;
  }
}
@media screen and (min-width: $break-point-middle) {
.galleryWidget .content.style_01{
  h2{
    font-size: 2.4rem;
  }
}
}
@media screen and (min-width: $design-width) {
.galleryWidget .content.style_01{
  h2{
    @include fz_vwpc(24);
  }
}
}
//////////////////////////////////
.galleryWidget .content.style_02{
  .wrap{
    @include setTbl;
    height: 100%;
    transition: .8s;
    opacity: 0;
    color: $white;
    >*{
      text-align: center;
      padding: 0 40/$design-num-sp*100vw;
    }
  }
  h2{
    @include fz_vw(36);
    line-height: 1em;
    @include fontEn;
    letter-spacing: .12em;
    font-weight: 400;
  }
  h3{
    display: none;
  }
  .caution{
    display: none;
  }
  .summary{
    display: none;
  }
  .btn{
    margin-top: 50/$design-num-sp*100vw;
    @include fontEn;
    font-weight: 400;
    letter-spacing: .1em;
    @include fz_vw(20);
    line-height: 1em;
    >span{
      display: inline-block;
      left: 0;
      position: relative;
      transition: .3s;
      &::after{
        content: '';
        width: 16/$design-num-sp*100vw;
        height: 16/$design-num-sp*100vw;
        border-radius: 16/$design-num-sp*100vw;
        line-height: 1em;
        display: inline-block;
        background-color: $white;
        margin-left: 8/$design-num-sp*100vw;
        position: relative;
        bottom: -2/$design-num-sp*100vw;
      }
    }
  }
}
.galleryWidget .item.move .content.style_02{
  .wrap{
    opacity: 1;
  }
}
@media screen and (min-width: $break-point-middle) {
.galleryWidget .content.style_02{
  .wrap{
    width: 50%;
    margin: 0 0 0 auto;
    >*{
      padding: 0 40px;
    }
  }
  h2{
    font-size: 1.8rem;
    margin-bottom: 36px;
  }
  h3{
    display: block;
    font-size: 2.2rem;
    line-height: 1em;
    letter-spacing: .1em;
    margin-bottom: 12px;
    span{
      position: relative;
      font-size: 1.2rem;
      top: -.6em;
    }
    img{
      width: 188px;
      display: inline-block;
    }
    &.style_01 img{
      width: 248px;
    }
    &.style_02 img{
      width: 320px;
    }
    &.style_03 img{
      width: 412px;
    }
  }
  .caution{
    display: block;
    font-size: 1.0rem;
    line-height: 1em;
    font-weight: bold;
  }
  .summary{
    display: block;
    font-size: 1.2rem;
    line-height: (30/12)+em;
    font-weight: bold;
    letter-spacing: .05em;
    text-align: justify;
    br{
      display: none;
    }
  }
  .btn{
    margin-top: 44px;
    font-size: 1.2rem;
    >span{
      &::after{
        width: 8px;
        height: 8px;
        border-radius: 8px;
        margin-left: 4px;
        bottom: 0;
      }
    }
    >span:hover{
      left: 5px;
    }
  }
}
}
@media screen and (min-width: 1075px) {
.galleryWidget .content.style_02{
  .summary{
    text-align: center;
    br{
      display: block;
    }
  }
}
}
@media screen and (min-width: $design-width) {
.galleryWidget .content.style_02{
  h2{
    @include fz_vwpc(18);
    margin-bottom: 36/$design-num*100vw;
  }
  h3{
    @include fz_vwpc(22);
    margin-bottom: 12/$design-num*100vw;
    span{
      @include fz_vwpc(12);
    }
    img{
      width: 188/$design-num*100vw;
    }
    &.style_01 img{
      width: 248/$design-num*100vw;
    }
    &.style_02 img{
      width: 320/$design-num*100vw;
    }
    &.style_03 img{
      width: 412/$design-num*100vw;
    }
  }
  .caution{
    @include fz_vwpc(10);
  }
  .summary{
    @include fz_vwpc(12);
  }
  .btn{
    margin-top: 44/$design-num*100vw;
    @include fz_vwpc(12);
    >span{
      &::after{
        width: 8/$design-num*100vw;
        height: 8/$design-num*100vw;
        border-radius: 8/$design-num*100vw;
        margin-left: 4/$design-num*100vw;
      }
    }
  }
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
#homeContainer{
  position: relative;
  z-index: 101;
  margin-top: 28/$design-num-sp*100vw;
}
@media screen and (min-width: $break-point-middle) {
#homeContainer{
  margin-top: 20px;
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.homeContentSec{
  @include baseSpPad;
  >.inner{
    >*{
      &:first-child{
        margin-bottom: 28/$design-num-sp*100vw;
      }
    }
  }
  section{
    position: relative;
    a{
      display: block;
      border-radius: 20/$design-num-sp*100vw;
      overflow: hidden;
      position: relative;
      .bg{
        width: 100%;
        position: relative;
        img{
          @include imgset;
        }
        &::after{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: 100%;
          transition: .3s;
        }
      }
      .content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 736/$design-num-sp*100vw;
        @include setTbl;
        >*{
          text-align: center;
        }
      }
      h2{
        @include fontEn;
        color: $white;
        letter-spacing: .04em;
        @include fz_vw(36);
        transition: opacity 1s,top 1s,left .3s;
        opacity: 0;
        position: relative;
        top: 20px;
        left: 0;
      }
    }
    &.active{
      a{
        h2{
          opacity: 1;
          top: 0;
        }
      }
    }
  }
}
@media screen and (min-width: $break-point-middle) {
.homeContentSec{
  padding: 0 20px;
  >.inner{
    @include setTbl;
    >*{
      &:first-child{
        margin-bottom: 0;
        padding-right: 10px;
      }
      &:last-child{
        padding-left: 10px;
      }
    }
  }
  section{
    a{
      border-radius: 10px;
      .bg{
        &::after{
          background-color: rgba(0, 0, 0, .03);
        }
      }
      .content{
        height: 734/$design-num*100vw;
      }
      h2{
        font-size: 1.8rem;
      }
    }
    a:hover{
      .bg{
        &::after{
          opacity: 0;
        }
      }
      h2{
        left: 5px;
      }
    }
  }
}
}
@media screen and (min-width: $design-width) {
.homeContentSec{
  section{
    a{
      h2{
        @include fz_vwpc(18);
      }
    }
  }
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.photoChanger{
  position: relative;
  &::before{
    content: '';
    display: block;
    width: 100%;
    padding-top: 100%;
  }
  li{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 1.5s;
    &.action{
      opacity: 1;
    }
  }
  img{
    border-radius: 10px;
    @include imgset;
  }
}
.photoChanger.style_01{
  &::before{
    padding-top: 1500/694*100%;
  }
}
@media screen and (min-width: $break-point-middle) {
.photoChanger.style_01{
  &::before{
    padding-top: 734/608*100%;
  }
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.movieStyle_01{
  >.inner{
    border-radius: 10px;
    overflow: hidden;
  }
  .cover{
    img{
      @include imgset;
    }
  }
  .loadImg{
    position: relative;
    padding-top:742/1232*100%;
  }
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
@media screen and (min-width: $break-point-middle) {
}
