@charset "utf-8";
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.secStyle_01{
  @include baseSpPad;
}
@media screen and (min-width: $break-point-middle) {
.secStyle_01{
  padding: 0 20px;
}
}
//////////////////////////////////////
.secStyle_02{
  @include baseSpPad;
  &.style_01{
    padding-left: 0;
    padding-right: 12/$design-num-sp*100vw;
  }
  >.inner{
    max-width: 576/$design-num-sp*100vw;
    margin: 0 0 0 auto;
    padding-right: 18/$design-num-sp*100vw;
    .imgStyle_01{
      margin-right: -18/$design-num-sp*100vw;
    }
  }
}
@media screen and (min-width: $break-point-middle) {
.secStyle_02{
  //text-align: center;
  padding: 0;
  margin-left: 334/$design-num*100vw;
  >.inner{
    max-width: none;
    margin: 0;
    padding-right: 0;
    // display: inline-block;
    // text-align: left;
    .imgStyle_01{
      margin-right: 0;
    }
  }
}
}
//////////////////////////////////////
.secStyle_03{
  @include baseSpPad;
  padding-right: 40/$design-num-sp*100vw;
  >.inner{
    max-width: 557/$design-num-sp*100vw;
    margin: 0 0 0 auto;
  }
}
@media screen and (min-width: $break-point-middle) {
.secStyle_03{
  padding: 0;
  >.inner{
    max-width: 608px;
    margin: 0 auto;
  }
}
}
//////////////////////////////////////
.secStyle_04{
  @include baseSpPad;
  >.inner{
    max-width: 600/$design-num-sp*100vw;
    margin: 0 0 0 auto;
  }
}
@media screen and (min-width: $break-point-middle) {
.secStyle_04{
  padding: 0 20px;
  >.inner{
    max-width: none;
    margin: 0;
    padding-left: 314/1232*100%;
  }
}
}
//////////////////////////////////////
.secStyle_05{
  >.inner{
    max-width: 575/$design-num-sp*100vw;
  }
}
@media screen and (min-width: $break-point-middle) {
.secStyle_05{
  max-width: 764px;
  margin: 0;
  >.inner{
    max-width: none;
  }
}
}
//////////////////////////////////////
.secStyle_06{
  >.inner{
    max-width: 575/$design-num-sp*100vw;
  }
}
@media screen and (min-width: $break-point-middle) {
.secStyle_06{
  max-width: 764px;
  margin: 0;
  >.inner{
    max-width: 608px;
  }
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.colStyle_01{
  .col-img{
    margin-bottom: 120/$design-num-sp*100vw;
  }
  .col-content{
    >.inner{
      width: 556/$design-num-sp*100vw;
      margin: 0 0 0 auto;
    }
  }
}
@media screen and (min-width: $break-point-middle) {
.colStyle_01{
  >.inner{
    @include setTbl;
  }
  .col-img{
    width: 608/$design-num*100vw;
    margin-bottom: 0;
  }
  .col-content{
    text-align: center;
    padding: 40px;
    >.inner{
      width: auto;
      margin: 0;
      display: inline-block;
      text-align: left;
    }
  }
}
}
////////////////////////////////////
.colStyle_02{
  @extend .colStyle_01;
  >.inner{
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: $break-point-middle) {
.colStyle_02{
  >.inner{
    @include setTbl;
  }
}
}
////////////////////////////////////
.colStyle_03{
  >*{
    margin-bottom: 24/$design-num-sp*100vw;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
@media screen and (min-width: $break-point-middle) {
.colStyle_03{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  >*{
    width: 400/1232*100%;
    margin-bottom: 0;
  }
}
}
////////////////////////////////////
.colStyle_04{
  >*{
    margin-bottom: 28/$design-num-sp*100vw;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
@media screen and (min-width: $break-point-middle) {
.colStyle_04{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  >*{
    width: 608/1232*100%;
    margin-bottom: 0;
  }
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.articleWrap_01{
  >*{
    margin-bottom: 90/$design-num-sp*100vw;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
@media screen and (min-width: $break-point-middle) {
.articleWrap_01{
  >*{
    margin-bottom: 45px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
}
/////////////////////////////////
.articleWrap_02{
  >*{
    border-bottom: 1px solid #dcdddd;
    padding: 72/$design-num-sp*100vw 0;
  }
}
@media screen and (min-width: $break-point-middle) {
.articleWrap_02{
  >*{
    padding: 45px 0;
  }
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
@media screen and (min-width: $break-point-middle) {
}
