@charset "utf-8";
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.postWrap{
  >.eyeCatch{
    margin-bottom: 40/750*100vw;
    img{
      @include imgset;
    }
  }
  .postInfo{
    margin-bottom: 20/375*100vw;
    h1{
      @include fz_vw(36);
      line-height: 1.7em;
      &.new{
        &::before{
          content: 'NEW';
          background-color: $key-red;
          color: $white;
          @include fz_vw(30);
          line-height: 1em;
          padding: 16/750*100vw 20/750*100vw;
          display: inline-block;
          margin-right: 30/750*100vw;
        }
      }
    }
  }
  .headInfo{
    @include setTbl;
    margin-bottom: 16/375*100vw;
    .col-upDate{
      color: $key-gray;
      font-weight: bold;
      @include fz_vw(26);
      line-height: 1em;
      font-family: $fontEn;
    }
  }
  .categories{
    @include killSpace;
    position: relative;
    top: -2px;
    text-align: right;
    li{
      width: auto;
    }
  }
}
@media screen and (min-width: $break-point-middle) {
.postWrap{
  >.eyeCatch{
    margin-bottom: 30px;
  }
  .postInfo{
    margin-bottom: 20px;
    h1{
      font-size: 2.2rem;
      &.new{
        &::before{
          font-size: 1.8rem;
          padding: 8px 12px;
          margin-right: 16px;
        }
      }
    }
  }
  .headInfo{
    margin-bottom: 16px;
    .col-upDate{
      font-size: 1.6rem;
    }
  }
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.postContent,.wp-block-group__inner-container{
  >*{
    margin-bottom: 50/750*100vw;
    &::last-child{
      margin-bottom: 0;
    }
  }
  img {
		display: inline-block;

		&.alignleft {
			float: none;
			width: 100%;
		}

		&.alignright {
			float: none;
			width: 100%;
		}
	}
  p{
    line-height: (50/30)+em;
    @include fz_vw(28);
    font-weight: normal;
  }
  >ul{
    @include fz_vw(28);
    >li{
      margin-bottom: 4px;
      line-height: 1.6em;
      padding-left: 20/750*100vw;
      position: relative;
      &::before{
        content: '・';
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  h2{
    color: $key-color;
    @include fz_vw(36);
    line-height: 1.6em;
    border-left: 8/750*100vw solid $key-color;
    padding-left: 18/750*100vw;
    margin-bottom: 30/750*100vw;
    &:last-child{
      margin-bottom: 0;
    }
  }
  h3{
    @include fz_vw(36);
    line-height: 1.6em;
    border-bottom: 1px solid $key-black1;
    padding-bottom: 6px;
    margin-bottom: 28/750*100vw;
  }
  h4{
    @include fz_vw(32);
    line-height: 1.6em;
    margin-bottom: 28/750*100vw;
  }
  a{
    color: $key-color;
    text-decoration: underline;
    font-weight: bold;
  }
  >aside{
    border: 1px solid $key-color;
    padding: 30/750*100vw;
    p{
      @include fz_vw(28);
    }
  }
  /////////////////////
	ol{
		padding:8px 0 8px 2em;
		list-style-type:decimal!important;
	}
	/////////////////////
	ol>li{
		line-height:1.6em;
		margin-bottom:2px;
	}
	/////////////////////
  .wp-caption {
		margin-bottom: 30/750*100vw;
		text-align: center;

		img {
			margin-bottom: 30/750*100vw;
		}
	}
	.wp-block-embed__wrapper {
		position: relative;
		width: 100%;
		padding-top: 56.25%;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100% !important;
			height: 100% !important;
		}
	}

	.wp-block-image {
		@include clearfix;
	}

	.wp-block-buttons .wp-block-button {
		display: block;
		margin: 0;
	}

	.wp-block-button__link {
		background-color: $black;
		border: none;
		@include border-radius(none);
		@include basicShadow;
		color: $white;
		cursor: pointer;
		display: inline-block;
		@include fz_vw(14);
		margin: 0;
		padding: 20/750*100vw 40/750*100vw;
		text-align: center;
		text-decoration: none;
		overflow-wrap: break-word;
		display: block;
		font-weight: bold;
	}
}
@media screen and (min-width: $break-point-middle) {
.postContent,.wp-block-group__inner-container{
  >*{
    margin-bottom: 32px;
    &::last-child{
      margin-bottom: 0;
    }
  }
  img {
    &.alignleft {
      margin-right: 16px;
      float: left;
    }

    &.alignright {
      margin-left: 16px;
      float: right;
    }

    &.aligncenter {
      margin: 0 auto;
      display: block;
    }

    &.size-full,
    &.size-medium {
      width: 100%;
      display: block;
    }
  }
  p{
    line-height: (30/16)+em;
    font-size: 1.5rem;
  }
  ul{
    font-size: 1.5rem;
    li{
      padding-left: 16px;
    }
  }
  h2{
    font-size: 2.2rem;
    border-left: 4px solid $key-color;
    padding-left: 14px;
    margin-bottom: 20px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  h3{
    font-size: 1.8rem;
    margin-bottom: 26px;
  }
  h4{
    font-size: 1.6rem;
    margin-bottom: 26px;
  }
  a{
    &:hover{
      text-decoration: none;
      color:$hover-color;
    }
  }
  >aside{
    padding: 20px;
    p{
      font-size: 1.4rem;
    }
  }
  .wp-block-buttons .wp-block-button {
    display: inline-block;
  }

  .wp-block-button__link {
    font-size: 14px;
    padding: 16px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    min-width: 20em;

    &:hover {
      background-color: lighten($black,20%);
      @include box-shadow(none);
      text-decoration: none;
      color: $white;
    }
  }
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.postCtl{
  margin-top: 40/375*100vw;
  ul{
    @include setTbl;
    //font-family: $fontAdobe;
    font-weight: 700;
    @include fz_vw(34);
  }
  .pagenate{
    a span{
      @include transition(.3s);
      display: inline-block;
      padding: 0 10/375*100vw;
      position: relative;
      i{
        line-height: 1em;
        position: relative;
        top: 7px;
      }
    }
  }
  .next{
    text-align: right;
  }
  .prev a span{
    left: 0;
  }
  .next a span{
    @include rotate(180deg);
    right: 0;
    i{
      top: 6px;
    }
  }
}
@media screen and (min-width: $break-point-middle) {
.postCtl{
  margin-top: 60px;
  ul{
    font-size: 1.7rem;
  }
  .btns{
    width: 300/810*100%;
    >*{
      display: block;
    }
  }
  .pagenate{
    a span{
      padding: 0 10px;
    }
    a:hover{
      color: $hover-color;
    }
  }
  .prev a:hover span{
    left: -5px;
  }
  .next a:hover span{
    right: -5px;
  }
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
@media screen and (min-width: $break-point-middle) {
}
