@charset "utf-8";
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.sample{
  .baseContent .col-img{
    background-image: none!important;
    background-color: transparent!important;
    &::before{
      display: none;
    }
  }
  .secStyle_01{
    &#cont_02{
      background-image: url('../images/bg_01.jpg');
      @include background-size(cover);
    }
    &#cont_03{
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f2f2', endColorstr='#DAD9D8' ,GradientType=0)";
      @include background(linear-gradient(7.01000000000001deg, rgba(243, 242, 242, 1) 1.47%, rgba(218, 217, 216, 1) 68.69%));
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f2f2',endColorstr='#DAD9D8' , GradientType=1);
      &::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url('../images/ptn_01.png');
        top: 0;
        left: 0;
      }
    }
    &#cont_04{
      background-image: url('../images/bg_02.jpg');
      @include background-size(cover);
    }
    &#cont_05{
      background-color: $white;
    }
    &#cont_06{
      background-image: url('../images/bg_03.jpg');
      @include background-size(cover);
    }
    &#cont_07{
      background-color: $white;
    }
  }
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.sample2{
  .baseContent .col-img{
    background-image: none!important;
    background-color: transparent!important;
    &::before{
      display: none;
    }
  }
  .secStyle_01{
    padding: 0;
    &#cont_01 >.inner>*:nth-child(1) .col-content{
      padding-top: 62/$design-num*100vw;
      padding-bottom: 0;
    }
    &#cont_01>.inner>*:nth-child(2) .col-content{
      padding: 0;
    }
    &#cont_01>.inner>*:nth-child(3) .col-content{
      padding: 0;
    }
    &#cont_01>.inner>*:nth-child(4) .col-content{
      padding-bottom: 62/$design-num*100vw;
    }
  }
  .baseContent .col-content{
    padding-top: 62/$design-num*100vw;
    padding-bottom: 62/$design-num*100vw;
  }
  #cont_02 .baseContent .col-content{
    background-image: url('../images/bg_01.jpg');
    @include background-size(cover);
  }
  #cont_03 .baseContent .col-content{
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f2f2', endColorstr='#DAD9D8' ,GradientType=0)";
    @include background(linear-gradient(7.01000000000001deg, rgba(243, 242, 242, 1) 1.47%, rgba(218, 217, 216, 1) 68.69%));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f2f2',endColorstr='#DAD9D8' , GradientType=1);
    &::before{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: url('../images/ptn_01.png');
      top: 0;
      left: 0;
    }
  }
  #cont_04 .baseContent .col-content{
    background-image: url('../images/bg_02.jpg');
    @include background-size(cover);
  }
  #cont_05 .baseContent .col-content{
    background-color: $white;
  }
  #cont_06 .baseContent .col-content{
    background-image: url('../images/bg_03.jpg');
    @include background-size(cover);
  }
  #cont_07 .baseContent .col-content{
    background-color: $white;
  }
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
@media screen and (min-width: $break-point-middle) {
}
