@charset "utf-8";
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
// .shopify-buy-frame{
//   iframe{
//     height: auto!important;
//     min-height: 90px;
//   }
// }
// .shopify-buy-frame--cart iframe{
//   height: 100%!important;
// }
// .shopify-buy-frame--toggle.is-sticky{
//   top: auto!important;
//   bottom: -10%;
// }
// @media screen and (min-width: $break-point-middle) {
// .shopify-buy-frame--toggle.is-sticky{
//   bottom: -10%;
// }
// }
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.contact-form{
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
@media screen and (min-width: $break-point-middle) {
.grid--half-gutters{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  >*{
    &:first-child{
      padding-right: 15px;
    }
    &:last-child{
      padding-left: 15px;
    }
  }
}
}
/////////////////
@media screen and (min-width: $break-point-middle) {
.medium-up--one-half{
  width: 50%;
  box-sizing: border-box;
}
}
/////////////////
label{
  display: block;
  @include fz_vw(26);
  line-height: 1em;
  margin-bottom: 12/$design-num-sp*100vw;
  span{
    position: relative;
    top: 0px;
    padding-left: 3px;
  }
}
@media screen and (min-width: $break-point-middle) {
label{
  font-size: 1.2rem;
  margin-bottom: 16px;
  span{
    font-size: 1.4rem;
  }
}
}
/////////////////
input[type="text"],input[type="email"],input[type="tel"],textarea{
  @include appearance(none);
	margin: 0 0 60/$design-num-sp*100vw 0;
	border: none;
	outline: none;
  border: 1px solid #c9caca;
  border-radius: 5px;
  @include fz_vw(32);
  line-height: 1em;
  min-height: 72/$design-num-sp*100vw;
  width: 100%;
  padding: 0 20/$design-num-sp*100vw;
  resize: none;
}
@media screen and (min-width: $break-point-middle) {
input[type="text"],input[type="email"],input[type="tel"],textarea{
	margin: 0 0 30px 0;
  border-radius: 10px;
  font-size: 1.2rem;
  min-height: 3em;
  padding: 0 16px;
}
}
/////////////////
textarea{
  padding: 20/$design-num-sp*100vw;
}
@media screen and (min-width: $break-point-middle) {
textarea{
  padding: 16px;
}
}
/////////////////
input.btn{
  @include btnsetting;
  display: block;
  width: 120/$design-num-sp*100vw;
  height: 120/$design-num-sp*100vw;
  border-radius: 120/$design-num-sp*100vw;
  text-align: center;
  line-height: 120/$design-num-sp*100vw;
  color: $white;
  @include fz_vw(26);
  letter-spacing: .1em;
  font-weight: bold;
  transition: .3s;
  position: relative;
  background-color: transparent;
}
@media screen and (min-width: $break-point-middle) {
input.btn{
  width: 70px;
  height: 70px;
  border-radius: 70px;
  line-height: 70px;
  font-size: 1.2rem;
  &:active{
    opacity: 1;
  }
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.inputBtn{
  width: 120/$design-num-sp*100vw;
  height: 120/$design-num-sp*100vw;
  position: relative;
  &::before{
    border-radius: 120/$design-num-sp*100vw;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: $key-color1;
    width: 100%;
    transition: .3s;
  }
}
@media screen and (min-width: $break-point-middle) {
.inputBtn{
  width: 70px;
  height: 70px;
  border-radius: 70px;
  &::before{
    border-radius: 70px;
  }
  &:hover{
    &::before{
      transform: scale(.9);
      filter: blur(3px);
    }
  }
}
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.form-message--success{
  margin-bottom: 20px;
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
#io-related-prd-id{
  display: none;
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
@media screen and (min-width: $break-point-middle) {
}
