<section class="secStyle_01 setMrg_25">
  <div class="inner">
    <div class="heroStyle_02">
      <div class="inner">
        <a href="{{ routes.root_url }}pages/about#skincare">
          <div class="bgImg">
            <div class="inner">
              <% var imgInfo = {path:'hero_img_17',type:'jpg',alt:''};%>
              <% if(pageinit.shopify!=='true'){%>
                <%- include(pageinit.path + '_img-temp_09.ejs', {imgInfo:imgInfo});%>
              <% } else {%>
                <%- include(pageinit.path + '_img-temp_15.ejs', {imgInfo:imgInfo});%>
              <% }%>
            </div>
            <!-- /.inner -->
          </div>
          <!-- /.bgImg -->
          <div class="content way">
            <div class="wrap">
              <div class="inner">
                <div class="col">
                  <h2>Skincare Routine</h2>
                  <div class="summary">
                    <p>ビタミンC<span>（リン酸アスコルビルMg/整肌成分）</span>をはじめとする保湿美容成分を<br class="pc">集中的に角質層のすみずみまで届けることで肌サイクルを取り戻す。<br class="pc">肌全体のコンディションを根本から整えたい方におすすめ。</p>
                  </div>
                  <!-- /.summary -->
                  <div class="btn">
                    <span class="btnStyle_07"><span>View more</span></span>
                  </div>
                  <!-- /.btn -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.inner -->
            </div>
            <!-- /.wrap -->
          </div>
          <!-- /.content -->
        </a>
      </div>
      <!-- /.inner -->
    </div>
    <!-- /.heroStyle_02 -->
  </div>
  <!-- /.inner -->
</section>
<!-- /.secStyle_01 -->
