<header>
  <div class="inner">
    <div class="col-logo">
      <% if(pageinit.shopify!=='true'){%>
        <% if(pageinit.category=='home'){%>
        <%- include(pageinit.path + '_nav-header_01.ejs', {pageinit:pageinit});%>
        <% } else if (pageinit.category=='products') { %>
        <h1 class="logo tx">
          <a href="javascript:void(0);"><%= pageinit.category %></a>
        </h1>
        <% } else if (pageinit.category=='about') { %>
        <h1 class="logo tx">
          <a href="javascript:void(0);">About us</a>
        </h1>
        <% } else if (pageinit.category=='product_01,detail-product') { %>
        <h1 class="logo tx">
          <a href="javascript:void(0);">BOOSTER OIL</a>
        </h1>
        <% } else if (pageinit.category=='product_02,detail-product') { %>
        <h1 class="logo tx">
          <a href="javascript:void(0);">MOISTURE SERUM</a>
        </h1>
        <% } else if (pageinit.category=='product_03,detail-product') { %>
        <h1 class="logo tx">
          <a href="javascript:void(0);">SET PACKAGE</a>
        </h1>
        <% } else if (pageinit.category=='news') { %>
        <h1 class="logo tx">
          <a href="javascript:void(0);">News</a>
        </h1>
        <% } else if (pageinit.category=='faq') { %>
        <h1 class="logo tx">
          <a href="javascript:void(0);">FAQ</a>
        </h1>
        <% } else if (pageinit.category=='privacy') { %>
        <h1 class="logo tx">
          <a href="javascript:void(0);">Privacy policy</a>
        </h1>
        <% } else if (pageinit.category=='sctl') { %>
        <h1 class="logo tx ja">
          <a href="javascript:void(0);">特定商取引法に基づく表記</a>
        </h1>
        <% } else if (pageinit.category=='contact') { %>
        <h1 class="logo tx">
          <a href="javascript:void(0);">Contact</a>
        </h1>
        <% }%>
      <% } else {%>
        {% if template == 'index' %}
        <%- include(pageinit.path + '_nav-header_01.ejs', {pageinit:pageinit});%>
        {% elsif template == 'blog' %}
        <h1 class="logo tx">
          <a href="javascript:void(0);">News</a>
        </h1>
        {% elsif page.handle == 'products' %}
        <h1 class="logo tx">
          <a href="javascript:void(0);">Products</a>
        </h1>
        {% elsif page.handle == 'about' %}
        <h1 class="logo tx">
          <a href="javascript:void(0);">About us</a>
        </h1>
        {% elsif page.handle == 'faq' %}
        <h1 class="logo tx">
          <a href="javascript:void(0);">FAQ</a>
        </h1>
        {% elsif page.handle == 'privacy-policy' %}
        <h1 class="logo tx">
          <a href="javascript:void(0);">Privacy policy</a>
        </h1>
        {% elsif page.handle == 'sctl' %}
        <h1 class="logo tx ja">
          <a href="javascript:void(0);">特定商取引法に基づく表記</a>
        </h1>
        {% elsif template == 'product.booster-oil' %}
        <h1 class="logo tx">
          <a href="javascript:void(0);">BOOSTER OIL</a>
        </h1>
        {% elsif template == 'product.moisture-serum' %}
        <h1 class="logo tx">
          <a href="javascript:void(0);">MOISTURE SERUM</a>
        </h1>
        {% elsif template == 'product.set-package' %}
        <h1 class="logo tx">
          <a href="javascript:void(0);">SET PACKAGE</a>
        </h1>
        {% else %}
        <h1 class="logo tx">
          <a href="javascript:void(0);">{{page.handle}}</a>
        </h1>
        {% endif %}
      <% }%>
    </div>
    <!-- /.col-logo -->
    <% if(pageinit.shopify!=='true'){%>
    <div class="col-nav">
      <p class="parent"><a href="products.html">View the products</a></p>
      <ul class="productNav">
        <li><a href="booster-oil.html">BOOSTER OIL</a></li>
        <li><a href="moisture-serum.html">MOISTURE SERUM</a></li>
        <li><a href="set-package.html">SET PACKAGE</a></li>
      </ul>
      <!-- /.productNav -->
    </div>
    <!-- /.col-nav -->
    <% } else {%>
    <div class="col-nav">
      <p class="parent"><a href="{{ routes.root_url }}pages/products">View the products</a></p>
      <ul class="productNav">
        <li><a href="{{ routes.root_url }}products/booster-oil">BOOSTER OIL</a></li>
        <li><a href="{{ routes.root_url }}products/moisture-serum">MOISTURE SERUM</a></li>
        <li><a href="{{ routes.root_url }}products/set-package">SET PACKAGE</a></li>
      </ul>
      <!-- /.productNav -->
    </div>
    <!-- /.col-nav -->
    <% }%>
    <div class="col-EcNav">
      <% if(pageinit.shopify==='true'){%>
      <p><a href="{{ routes.cart_url }}">Cart</a></p>
      <% } else {%>
      <p><a href="javascript:void(0);">Cart</a></p>
      <% }%>
    </div>
    <!-- /.colEc -->
  </div>
  <!-- /.inner -->
</header>
<!-- /header -->
