<header>
  <div class="inner">
    <div class="col-logo">
      <p class="logo tx headMenu">
        <a href="javascript:void(0);">Menu</a>
      </p>
    </div>
    <!-- /.col-logo -->
    <% if(pageinit.shopify!=='true'){%>
    <div class="col-nav">
      <p class="parent"><a href="products.html">View the products</a></p>
      <ul class="productNav">
        <li><a href="booster-oil.html">BOOSTER OIL</a></li>
        <li><a href="moisture-serum.html">MOISTURE SERUM</a></li>
        <li><a href="set-package.html">SET PACKAGE</a></li>
      </ul>
      <!-- /.productNav -->
    </div>
    <!-- /.col-nav -->
    <% } else {%>
    <div class="col-nav">
      <p class="parent"><a href="{{ routes.root_url }}pages/products">View the products</a></p>
      <ul class="productNav">
        <li><a href="{{ routes.root_url }}products/booster-oil">BOOSTER OIL</a></li>
        <li><a href="{{ routes.root_url }}products/moisture-serum">MOISTURE SERUM</a></li>
        <li><a href="{{ routes.root_url }}products/set-package">SET PACKAGE</a></li>
      </ul>
      <!-- /.productNav -->
    </div>
    <!-- /.col-nav -->
    <% }%>
    <div class="col-EcNav">
      <% if(pageinit.shopify==='true'){%>
      <p><a href="{{ routes.cart_url }}">Cart</a></p>
      <% } else {%>
      <p><a href="javascript:void(0);">Cart</a></p>
      <% }%>
    </div>
    <!-- /.colEc -->
  </div>
  <!-- /.inner -->
</header>
<!-- /header -->
<div class="headMask">
  <span class="head"><%- include('_mask_01.ejs') %></span>
  <span class="head"><%- include('_mask_02.ejs') %></span>
</div>
<!-- /.headMask -->
