<%# èƒŒæ™¯ç”»åƒ%>
<span data-bg="assets/images/<%= imgInfo.path %>.<%= imgInfo.type %>" class="bgImg pc lazyload"></span>
<span data-bg="assets/images/<%= imgInfo.path %>_sp.<%= imgInfo.type %>" class="bgImg sp lazyload"></span>
