<%# èƒŒæ™¯ç”»åƒ shopify%>
<span data-bg="{{ '<%= imgInfo.path %>.<%= imgInfo.type %>' | file_url }}" class="bgImg pc lazyload"></span>
<span data-bg="{{ '<%= imgInfo.path %>_sp.<%= imgInfo.type %>' | file_url }}" class="bgImg sp lazyload"></span>
